<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <%- include('../_partials/header.ejs'); %>
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/daterangepicker/daterangepicker.css">
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
   <!--nav bar-->
   <%- include('../_partials/navbar.ejs'); %>
   <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


   <!--side bar-->
   <%- include('../_partials/sidebar.ejs'); %>
   <!--side bar-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Restaurant</h3>
          </div>
          <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Restaurant
                  </li>
                  
                  <li class="breadcrumb-item active">Add
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Inputs start -->
<section class="basic-inputs"> 
  <div class="row match-height">
      <div class="col-xl-12 col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Add New Restaurant</h4>
              </div>
              <div class="card-block">
                <div class="card-body">
                  <form id="clubBar" method="post" action="/admin/restaurants/save" enctype="multipart/form-data">
                    <fieldset class="form-group">
                      <div class="row">
                        <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name"
                                    name="name" pattern="\S(.*\S)?" placeholder="Club/Bar Name"/>
                            </div>
                        </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="category">Select Category</label>
                                  <select name="category" class="form-control custom-select" id="category">
                                      <option selected=""disabled>Select Category</option>
                                      <% category.forEach((category)=>{ %>
                                        <option value="<%=category.id%>">
                                           <%=category.name%>
                                        </option>
                                        <%})%>
                                    </select>
                              </div>
                          </div>
                          
                      </div>

                      <div class="row">
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="address">Address</label>
                                  <input type="text" class="form-control" id="address"
                                      name="address" pattern="\S(.*\S)?" placeholder="Address" />
                              </div>
                          </div>


                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="city">City</label>
                                  <input type="text" class="form-control" id="city"
                                      name="city" pattern="\S(.*\S)?" placeholder="City" />
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="latitude">Latitude</label>
                                  <input type="number" class="form-control" id="latitude"
                                      name="lat" placeholder="Latitude"/>
                              </div>
                          </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="longitude">Longitude</label>
                                  <input type="number" class="form-control" id="longitude"
                                      name="long" placeholder="Longitude"/>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="picture">Pictures</label>
                                      <div class="custom-file">
                                        <div class="input-group">
                                          <input type="file" id="picture" name="picture" 
                                          accept="image/png,image/jpeg" class="custom-file-input"  multiple="mutliple">
                                          <label class=" custom-file-label" for="picture">Select Multiple files:</label>
                                          
                                      </div>
                                      </div>
                              </div>
                          </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="link1">Link</label>
                                  <input type="url" class="form-control" id="link1"
                                      name="link1" placeholder="Link"/>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select name="status" class="form-control custom-select" id="status">
                                    <option value="true">Active</option>
                                    <option vlaue="false">Inactive</option>
                                  </select>
                            </div>
                        </div>
                       
                           
                           
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="description">Description</label>
                                  <input type="text" class="form-control" id="description"
                                      name="description"placeholder="Description"pattern="\S(.*\S)?" />
                              </div>
                          </div>
                        </div>
                        <div class="row">
                       
                          <div class="col-xl-6 ">
                            <div class="form-group"> 
                              <label for="drinks">Schedule</label>
                              <input type="text" class="form-control" id=""
                              name=""value="Select Restaurant Open Days" readonly/>
                               </div> 
                                </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="drinks">Can serve drinks?</label>
                                  <select name="drinks" class="form-control custom-select" id="drinks">
                                      <option selected=""disabled>Select One</option>
                                      <option value="true">Allowed</option>
                                      <option value="false" >Not Allowed</option>
                                    </select>
                              </div>
                          </div>
                          </div>
                               <div class="row">
                             
                                    </div>
                                   <div class="row">
                                    <div class="col-xl-2" style="text-align: center;">
                                      <div class="form-group">
                                <label for=""><b>Open Days</b></label>
                                   </div>
                                    </div>
                                    <div class="col-xl-2 "style="text-align: center;">
                                      <label for=""><b>From Time</b> </label>
                                          </div>
                                          <div class="col-xl-2 "style="text-align: center;">
                                            <label for=""><b>To Time</b></label>
                                                </div>
                                   </div>
                                   <div class="row">
                                    <div class="col-xl-0">
                                      <div class="form-group">
                                    <input  type="checkbox" class="checkbox" name="weekId" value="<%=days[0].id%>" style="margin-top: 10px;" >
                                      </div>
                                    </div>
                                    <div class="col-xl-2 ">
                                      <div class="form-group">
                                          <input type="text" class="form-control" id=""
                                              name="days" value="<%=days[0].day%>" readonly/>
                                      </div>
                                     </div>
                                        <div class="col-xl-2 ">
                                          <div class="form-group">
                              
                              <input type="time" class="form-control"  id="appt-time" type="time" name="From" value="12:00:00" step="2"/>
                                          </div>
                                      </div>
                                      <div class="col-xl-2">
                                        <div class="form-group">
                                          <input type="time" class="form-control"  id="appt-time" type="time" name="To" value="12:00:00" step="2"/>

                                        </div>
                                    </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-xl-0">
                                            <div class="form-group">
                                          <input  type="checkbox" class="checkbox" name="weekId" value="<%=days[1].id%>" style="margin-top: 10px;" >
                                            </div>
                                          </div>
                                          <div class="col-xl-2 ">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id=""
                                                    name="days"value="<%=days[1].day%>" readonly/>
                                            </div>
                                           </div>
                                              <div class="col-xl-2 ">
                                                <div class="form-group">
                                                  <input type="time" class="form-control"  id="appt-time" type="time" name="From" value="12:00:00" step="2"/>

                                                </div>
                                            </div>
                                            <div class="col-xl-2 ">
                                              <div class="form-group">
                                                <input type="time" class="form-control"  id="appt-time" type="time" name="To" value="12:00:00" step="2"/>

                                              </div>
                                          </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-xl-0">
                                                  <div class="form-group">
                                                <input  type="checkbox" class="checkbox" name="weekId" value="<%=days[2].id%>" style="margin-top: 10px;" >
                                                  </div>
                                                </div>
                                                <div class="col-xl-2 ">
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" id=""
                                                          name="days" value="<%=days[2].day%>" readonly/>
                                                  </div>
                                                 </div>
                                                    <div class="col-xl-2 ">
                                                      <div class="form-group">
                                                        <input type="time" class="form-control"  id="appt-time" type="time" name="From" value="12:00:00" step="2"/>

                                                      </div>
                                                  </div>
                                                  <div class="col-xl-2 ">
                                                    <div class="form-group">
                                                      <input type="time" class="form-control"  id="appt-time" type="time" name="To" value="12:00:00" step="2"/>

                                                    </div>
                                                </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-xl-0">
                                                        <div class="form-group">
                                                      <input  type="checkbox" class="checkbox" name="weekId" value="<%=days[3].id%>" style="margin-top: 10px;" >
                                                        </div>
                                                      </div>
                                                      <div class="col-xl-2 ">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id=""
                                                                name="days" value="<%=days[3].day%>" readonly/>
                                                        </div>
                                                       </div>
                                                          <div class="col-xl-2 ">
                                                            <div class="form-group">
                                                              <input type="time" class="form-control"  id="appt-time" type="time" name="From" value="12:00:00" step="2"/>

                                                            </div>
                                                        </div>
                                                        <div class="col-xl-2 ">
                                                          <div class="form-group">
                                                            <input type="time" class="form-control"  id="appt-time" type="time" name="To" value="12:00:00" step="2"/>

                                                          </div>
                                                      </div>
                                                          </div>
                                                          <div class="row">
                                                            <div class="col-xl-0">
                                                              <div class="form-group">
                                                            <input  type="checkbox" class="checkbox" name="weekId" value="<%=days[4].id%>" style="margin-top: 10px;" >
                                                              </div>
                                                            </div>
                                                            <div class="col-xl-2 ">
                                                              <div class="form-group">
                                                                  <input type="text" class="form-control" id=""
                                                                      name="days" value="<%=days[4].day%>" readonly/>
                                                              </div>
                                                             </div>
                                                                <div class="col-xl-2 ">
                                                                  <div class="form-group">
                                                                    <input type="time" class="form-control"  id="appt-time" type="time" name="From" value="12:00:00" step="2"/>

                                                                  </div>
                                                              </div>
                                                              <div class="col-xl-2 ">
                                                                <div class="form-group">
                                                                  <input type="time" class="form-control"  id="appt-time" type="time" name="To" value="12:00:00" step="2"/>

                                                                </div>
                                                            </div>
                                                                </div>
                                                                <div class="row">
                                                                  <div class="col-xl-0">
                                                                    <div class="form-group">
                                                                  <input  type="checkbox" class="checkbox" name="weekId" value="<%=days[5].id%>" style="margin-top: 10px;" >
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-xl-2 ">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id=""
                                                                            name="days" value="<%=days[5].day%>" readonly/>
                                                                    </div>
                                                                   </div>
                                                                      <div class="col-xl-2 ">
                                                                        <div class="form-group">
                                                                          <input type="time" class="form-control"  id="appt-time" type="time" name="From" value="12:00:00" step="2"/>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-2 ">
                                                                      <div class="form-group">
                                                                        <input type="time" class="form-control"  id="appt-time" type="time" name="To" value="12:00:00" step="2"/>

                                                                      </div>
                                                                  </div>
                                                                      </div>
                                                                      <div class="row">
                                                                        <div class="col-xl-0">
                                                                          <div class="form-group">
                                                                        <input  type="checkbox" class="checkbox" name="weekId" value="<%=days[6].id%>" style="margin-top: 10px;" >
                                                                          </div>
                                                                        </div>
                                                                        <div class="col-xl-2 ">
                                                                          <div class="form-group">

                                                                              <input type="text" class="form-control" id=""
                                                                                  name="days" value="<%=days[6].day%>" readonly/>
                                                                          </div>
                                                                         </div>
                                                                            <div class="col-xl-2">
                                                                              <div class="form-group">
                                                                                <input type="time" class="form-control"  id="appt-time" type="time" name="From" value="12:00:00" step="2"/>

                                                                              </div>
                                                                          </div>
                                                                          <div class="col-xl-2 ">
                                                                            <div class="form-group">
                                                                              <input type="time" class="form-control"  id="appt-time" type="time" name="To" value="12:00:00" step="2"/>

                                                                            </div>
                                                                        </div>
                                                                            </div>

                      <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </fieldset>
                  </form>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
      <!--footer-->
      <%- include('../_partials/footer.ejs'); %>
      <!--footer-->
 <!-- BEGIN PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
 <!-- END PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/plugins/select2/js/select2.full.min.js"></script>
<!--datepicker-->  
 
  <!-- jquery-validation -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>

<script>
 var limit = 4;
  $(document).ready(function(){
      $('#pictures').change(function(){
          var files = $(this)[0].files;
          if(files.length > limit){
              alert("You can select max "+limit+" images.");
              $('#pictures').val('');
              return false;
          }else{
              return true;
          }
      });
  });

 $(function () {
  $('.select2').select2({
       placeholder: "Select Days"
     }),

   bsCustomFileInput.init();
 });

 $(function () {
$('#clubBar').validate({
   rules: {
      category: {
         required: true
      },
      name: {
         required: true,
      },
      city: {
         required: true,
      },
      address: {
         required: true,
      },
      pictures: {
         required: true,
        extension:'png,jpeg,jpg'
        
      },
      link1: {
         required: true,
      },
       drinks: {
         required: true,
      },
      lat:{
        required: true,

      },
      long:{
        required: true,

      }
      
            },
            messages: {
               
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
               error.addClass('invalid-feedback');
               element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
               $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
               $(element).removeClass('is-invalid');
            }
         });
      });

     
 </script>
  <script>
    $(document).ready(function(){
  $('input[type="radio"]').click(function(){
    var demovalue = $(this).val(); 
      $("div.mydiv").hide();
      $(".show"+ demovalue).show();
      // console.log($("#show"+ demovalue).())
  });
});
   </script>
 <!-- <script>
  var limit = 4;
  $(document).ready(function(){
      $('#pictures').change(function(){
          var files = $(this)[0].files;
          if(files.length > limit){
              alert("You can select max "+limit+" images.");
              $('#pictures').val('');
              return false;
          }else{
              return true;
          }
      });
  });
  </script> -->
  
  <script type="text/javascript">
  

  $('.timeformatExample1').timepicker({ 'timeFormat': 'H:mm:ss' });

  $("#insert-more").click(function () {
     $("#mytable").each(function () {
         var tds = '<tr>';
         jQuery.each($('tr:last td', this), function () {
             tds += '<td>' + $(this).html() + '</td>';
         });
         tds += '</tr>';
         if ($('tbody', this).length > 0) {
             $('tbody', this).append(tds);
         } else {
             $(this).append(tds);
         }
     });
});

$(document).ready(function () {

  
})
</script>
  </body>
</html>