<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<%- include('../_partials/header.ejs'); %>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<style>
  .cross:hover {
    color: red;
  }

  .cross {
    color: transparent;

  }

  .upload:hover {
    background-color: gray;
    color: white;
    /* border: 1px solid white;  */

  }

  .upload {
    color: transparent;

  }

  /* 
  .image:hover {
    filter: blur(2px);
  } */
</style>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

  <!-- fixed-top-->
  <!--nav bar-->
  <%- include('../_partials/navbar.ejs'); %>
  <!--nav bar-->

  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!--side bar-->
  <%- include('../_partials/sidebar.ejs'); %>
  <!--side bar-->

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Restaurant</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">

            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Restaurant
                </li>

                <li class="breadcrumb-item active">Edit
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic Inputs start -->
        <section class="basic-inputs">
          <div class="row match-height">
            <div class="col-xl-12 col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Edit Restaurant</h4>
                </div>
                <div class="card-block">
                  <div class="card-body">
                    <form id="editrestaurant" method="post" action="/admin/restaurants/update/<%=editRestaurant.id%>"
                      enctype="multipart/form-data">
                      <fieldset class="form-group">

                        <div class="row-xl-8">
                          <div class="form-group">
                            <div class="container" style="position: relative; ">
                              <input type="hidden" name="test" id="test">
                              <% for(let i = 0; i < 4; i++) { %>

                              <img id="output_<%= i %>" src="<%=editRestaurant.restaurantPhoto[i]?.picture%>"
                                style="height:100px; width:100px; " value="<%=editRestaurant.restaurantPhoto[i]?.id%>">
                              <label for="file_<%= i %>" style="cursor: pointer; margin-right: 10px; ">
                                <i id="icon_<%= i %>" class="fa fa-upload" style="color:rgb(75, 75, 87); "></i>
                                <input type="file" name="picture" id="file_<%= i %>"
                                  value="<%=editRestaurant.restaurantPhoto[i]?.picture%>"
                                  onchange="loadFile(event,<%= editRestaurant.restaurantPhoto[i]?.id%>)"
                                  style="display: none;" accept="image/gif,image/jpeg,image/jpg,image/png"
                                  data-original-title="upload photos" />
                              </label>

                              <% } %>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" name="name"
                                value="<%= editRestaurant.name %>" pattern="\S(.*\S)?" placeholder="Club/Bar Name" />
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="category">Select Category</label>
                              <select name="categoryId" class="form-control custom-select" id="category">
                                <option selected="" disabled>Select Category</option>
                                <% restronCategory.forEach((category)=>{ %>
                                <option <%=(category.id==editRestaurant.categoryId)? 'selected':''%>
                                  value="<%=category.id%>">
                                  <%=category.name%>
                                </option>
                                <%})%>
                              </select>

                            </div>
                          </div>

                        </div>

                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="address">Address</label>
                              <input type="text" class="form-control" id="address" name="address"
                                value="<%= editRestaurant.address %>" pattern="\S(.*\S)?" placeholder="Address" />
                            </div>
                          </div>


                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="city">City</label>
                              <input type="text" class="form-control" id="city" name="city"
                                value="<%= editRestaurant.city %>" pattern="\S(.*\S)?" placeholder="City" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="latitude">Latitude</label>
                              <input type="number" class="form-control" id="latitude" name="lat"
                                value="<%= editRestaurant.lat %>" placeholder="Latitude" />
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="longitude">Longitude</label>
                              <input type="number" class="form-control" id="longitude" name="long"
                                value="<%= editRestaurant.long%>" placeholder="Longitude" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="description">Description</label>
                              <input type="text" class="form-control" id="description" name="description"
                                value="<%= editRestaurant.description %>" placeholder="Description"
                                pattern="\S(.*\S)?" />
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="link1">Link</label>
                              <input type="text" class="form-control" id="link1" name="link"
                                value="<%= editRestaurant.link %>" placeholder="Link" />
                            </div>
                          </div>
                          <!-- <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="days">Close Days</label>
                              <select class="select2" name="days" id="days" multiple="multiple" style="width: 100%;">
                                <% weekday.forEach((days)=>{ %>
                                <option <%=(selectdays.includes(days.id))?'selected':''%> value="<%=days.id%>">
                                  <%=days.day%>
                                </option>
                                <%})%>
                                </option>
                              </select>
                            </div>
                          </div> -->

                        </div>
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="status">Status</label>
                              <select name="status" class="form-control custom-select" id="status">
                                <% if (editRestaurant.status == 1){%>
                                <option value=1 selected>Active</option>
                                <option value=0>Inactive</option>
                                <%} else{%>
                                <option value=1>Active</option>
                                <option value=0 selected>Inactive</option>

                                <% } %>

                              </select>
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="drinks">Can serve drinks?</label>
                              <select name="drinks_allowed" class="form-control custom-select" id="drinks">

                                <% if (editRestaurant.drinks_allowed == 1){%>
                                <option value=1 selected>Allowed</option>
                                <option value=0>Not Allowed</option>
                                <%} else{%>
                                <option value=1>Allowed</option>
                                <option value=0 selected>Not Allowed</option>

                                <% } %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group"> 
                              <label for="drinks">Schedule</label>
                              <input type="text" class="form-control" id=""
                              name=""value="Select Restaurant Open Days" readonly/>
                               </div> 
                                </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-2" style="text-align: center;">
                            <div class="form-group">
                              <label for=""><b>Open Days</b></label>
                            </div>
                          </div>
                          <div class="col-xl-2 " style="text-align: center;">
                            <label for=""><b>From Time</b> </label>
                          </div>
                          <div class="col-xl-2 " style="text-align: center;">
                            <label for=""><b>To Time</b></label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-0">
                            <div class="form-group">
                              <input type="checkbox" class="checkbox" style="margin-top: 10px;" name="weekId"
                                value="<%=weekday[0]?.id%>" <%- (selectdays.indexOf(1) !== -1) ? 'checked':''%>>
                            </div>
                          </div>
                          <div class="col-xl-2">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" name="days" value="<%=weekday[0].day%>"
                                readonly />
                            </div>
                          </div>
                          <div class="col-xl-2">
                            <div class="form-group">
                              <%  var mon = days.filter(el => el.weekDayId === 1)  %>
                              <input type="time" class="form-control" id="appt-time" type="time" name="From"
                                 step="2"  value= "<%=  mon[0]?.from_date? mon[0]?.from_date :'12:00:00' %>" >
                            </div>
                          </div>
                          <div class="col-xl-2">
                            <div class="form-group">
                              <input type="time" class="form-control" id="appt-time" type="time" name="To"
                              value= "<%=  mon[0]?.to_date? mon[0]?.to_date :'12:00:00' %>" step="2" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-0">
                            <div class="form-group">
                              <input type="checkbox" class="checkbox" name="weekId" style="margin-top: 10px;"
                                value="<%=weekday[1]?.id%>" <%- (selectdays.indexOf(2) !== -1) ? 'checked':''%>>
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" name="days" value="<%=weekday[1].day%>"
                                readonly />
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <%  var tue = days.filter(el => el.weekDayId === 2)  %>
                              <input type="time" class="form-control" id="appt-time" type="time" name="From"
                                value="<%=  tue[0]?.from_date? tue[0]?.from_date :'12:00:00'  %>" step="2" />
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="time" class="form-control" id="appt-time" type="time" name="To"
                                value="<%=  tue[0]?.to_date? tue[0]?.to_date :'12:00:00' %>" step="2"/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-0">
                            <div class="form-group">
                              <input type="checkbox" class="checkbox" name="weekId" style="margin-top: 10px;"
                                value="<%=weekday[2]?.id%>" <%- (selectdays.indexOf(3) !== -1) ? 'checked':''%>>
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" name="days" value="<%=weekday[2].day%>"
                                readonly />
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <%  var wed = days.filter(el => el.weekDayId === 3)  %>

                              <input type="time" class="form-control" id="appt-time" type="time" name="From"
                                value="<%=  wed[0]?.from_date? wed[0]?.from_date:'12:00:00' %>" step="2" />

                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="time" class="form-control" id="appt-time" type="time" name="To"
                                value="<%=  wed[0]?.to_date? wed[0]?.to_date:'12:00:00' %>" step="2" />

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-0">
                            <div class="form-group">
                              <input type="checkbox" class="checkbox" name="weekId" style="margin-top: 10px;"
                                value="<%=weekday[3]?.id%>" <%- selectdays.indexOf(4) !== -1 ? 'checked':''%>>
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" name="days" value="<%=weekday[3].day%>"
                                readonly />
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <%  var thu = days.filter(el => el.weekDayId === 4)  %>

                              <input type="time" class="form-control" id="appt-time" type="time" name="From"
                                value="<%=  thu[0]?.from_date ? thu[0]?.from_date : '12:00:00' %>" step="2" />

                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="time" class="form-control" id="appt-time" type="time" name="To"
                                value="<%=  thu[0]?.to_date? thu[0]?.to_date :'12:00:00' %>" step="2" />

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-0">
                            <div class="form-group">
                              <input type="checkbox" class="checkbox" name="weekId" style="margin-top: 10px;"
                                value="<%=weekday[4]?.id%>" <%= selectdays.indexOf(5) !== -1 ? 'checked':''%>>
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" name="days" value="<%=weekday[4].day%>"
                                readonly />
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <%  var fri = days.filter(el => el.weekDayId === 5)  %>
                              
                              <input type="time" class="form-control" id="appt-time" type="time" name="From"
                                value="<%=  fri[0]?.from_date ? fri[0]?.from_date:'12:00:00' %>" step="2" />

                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="time" class="form-control" id="appt-time" type="time" name="To"
                                value="<%=  fri[0]?.to_date?fri[0]?.to_date:'12:00:00' %>" step="2" />

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-0">
                            <div class="form-group">
                              <input type="checkbox" class="checkbox" name="weekId" style="margin-top: 10px;"
                                value="<%=weekday[5]?.id%>" <%= selectdays.indexOf(6) !== -1 ? 'checked':''%>>
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="text" class="form-control" id="" name="days" value="<%=weekday[5].day%>"
                                readonly />
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <%  var sat = days.filter(el => el.weekDayId === 6)  %>

                              <input type="time" class="form-control" id="appt-time" type="time" name="From"
                                value="<%=  sat[0]?.from_date ? sat[0]?.from_date :'12:00:00' %>" step="2" />

                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="time" class="form-control" id="appt-time" type="time" name="To"
                                value="<%=  sat[0]?.to_date ?sat[0]?.to_date:'12:00:00' %>" step="2" />

                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-0">
                            <div class="form-group">
                              <input type="checkbox" class="checkbox" name="weekId" style="margin-top: 10px;"
                                value="<%=weekday[6]?.id%>" <%- (selectdays.indexOf(7) !== -1) ? 'checked':''%>>
                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">

                              <input type="text" class="form-control" id="" name="days" value="<%=weekday[6].day%>"
                                readonly />
                            </div>
                          </div>
                          <div class="col-xl-2">
                            <div class="form-group">
                              <%  var sun = days.filter(el => el.weekDayId === 7)  %>

                              <input type="time" class="form-control" id="appt-time" type="time" name="From"
                                value="<%=  sun[0]?.from_date ? sun[0]?.from_date:'12:00:00' %>" step="2" />

                            </div>
                          </div>
                          <div class="col-xl-2 ">
                            <div class="form-group">
                              <input type="time" class="form-control" id="appt-time" type="time" name="To"
                                value="<%=sun[0]?.to_date?sun[0]?.to_date:'12:00:00' %>" step="2" />
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <INPUT TYPE="button" class="btn btn-primary" VALUE="Cancle" onClick="history.go(-1);">
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!--footer-->
  <%- include('../_partials/footer.ejs'); %>
  <!--footer-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript">
  </script>
  <!-- END PAGE LEVEL JS-->
  <script src="<%= process.env.BASE_URL %>/plugins/select2/js/select2.full.min.js"></script>
  <!-- jquery-validation -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>
  <script>
    var loadFile = function (event, value) {
      // event.preventDefalt();
      //  $(document).on("keydown", disableF5);
      // console.log("========here", event.target.id)
      // var id = $(this).parent()



      // var arr = [];

      // arr.push(value)

      //  ab.push(value)


      //  $('#test').val("GeeksForGeeks");

      let id = (event.target.id).split("_");

      var ab = $('#test').val()
      if (value) {
        if (ab == '' || ab == null) {
          $('#test').val(value)
        } else {
          $('#test').val(ab + "," + value)
        }
      }

      console.log($('#test').val())
      // arr.push(ab)
      console.log("=====heres======", ab)
      var output = document.getElementById("output_" + id[1]);
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function () {
        URL.revokeObjectURL(output.src) //free memory
      }
    };
  </script>
  <script>
    $(function () {
      $('.select2').select2({
          placeholder: "Select Days"
        }),
        bsCustomFileInput.init();
    });

    $(function () {
      $('#editrestaurant').validate({
        rules: {
          category: {
            required: true
          },
          name: {
            required: true,
          },
          city: {
            required: true,
          },
          address: {
            required: true,
          },
          link1: {
            required: true,
          },
          drinks: {
            required: true,
          },

        },
        messages: {

        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
  </script>
</body>

</html>