
<!DOCTYPE html>
<html lang="en">
<head>
  <title>WAYT</title>
    <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
		 
		          	
        <!--<meta http-equiv="Cache-control" content="description">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="/assets/css/landing-style.css"/>		<link rel="stylesheet" href="/assets/css/landing-font-awesome.min.css"/>		<link rel="stylesheet" href="/assets/css/landing-animation.css"/>   

   <!--  <link rel="stylesheet" type="text/css" href="js/wow.min.js"> -->
   <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:300,400,500,700,900" rel="stylesheet"> 
   <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
   
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

<style>
    .hottest h4,.hottest-2bg h4,.girl-boy-content h4 {
    text-transform: lowercase;
}

    
</style>
</head>

<body>

			

<div id="loader-wrapper" class="bg-loader">
  <div id="loader"><img src="http://waytapp.com/images/footer-logo.png"></div>
  
  <!-- <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div> -->
  
</div>

 
<div id="content">
 
<!-- top-header -->
<div class="container-fluid top-header-sec">
  
      <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12 hader">
              <div class="col-md-2 col-sm-2 col-xs-12 logo">
         
             <a href="index.html"><img src="http://waytapp.com/images/logo.png" alt="" class="img-responsive"></a>
         
      </div>


      <div class="col-md-9 col-sm-8 col-xs-12 navigation text-right">
      
              <nav class="navbar navbar-inverse first-header-nav">
  
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                      </div>
                      <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav main-menu-nav">
                          <li><a class="fs-nav" href="#clubs" style="color:#000;">CLUBS & BARS</a></li>
                          <li><a class="fs-nav" href="#drinks" style="color:#000;">DRINKS & TABLES</a></li>
                          <li><a class="fs-nav" href="#influencer" style="color:#000;">BE AN INFLUENCER </a></li>
                          <li><a class="fs-nav" href="#chat" style="color:#000;">CHAT</a></li>
                        </ul>
                      </div>

                   </nav>
                   
                      <!--<button type="button" class="btn btn-md hidden-xs hidden-sm influence-btn">Top Influencer</button>  -->
      </div>

      

       <div class="col-md-1 col-sm-2 col-xs-12 togle">   
             <div class="toggle-right">
              <!-- <a href="#"> -->
                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                      
                      <div class="col-sm-6 col-xs-6 no-padd popup-logo"> 
                        <img src="http://waytapp.com/images/logo.png" class="img-responsive">
                      </div>
                      <div class="col-sm-5 col-xs-5 no-padd left-side-pop txt-right">
                        <a href="#" class="inn-log-btn">Download</a>
                      </div>
                      
                      <div class="col-sm-12 col-xs-12 no-padd modal-sec-box">
                          <div class="col-sm-3 col-xs-6 popup-nav-sec">
                              <h2><i>Company </i></h2>
                              <ul class="company-navlist">
                                <li><a class="abt-us">About us</a></li>
                                 <li><a class="cont-l">Contact</a></li>
                                
                              </ul>
                          </div>


                          <!--  <div class="col-sm-3 col-xs-6 popup-nav-sec">-->
                          <!--    <h2><i>Community </i></h2>-->
                          <!--    <ul class="company-navlist">-->
                          <!--      <li><a href="">Blog</a></li>-->
                          <!--       <li><a href="">Tech Blog</a></li>-->
                          <!--        <li><a href="">Swife Life</a></li>-->
                          <!--          <li><a href="">Press</a></li>-->
                          <!--            <li><a href="">Support</a></li>-->
                          <!--    </ul>-->
                          <!--</div>-->


                           <div class="col-sm-3 col-xs-6 popup-nav-sec">
                              <h2><i>Partners </i></h2>
                              <ul class="company-navlist">
                                <li><a href="javascript:void(0)">Stripe</a></li>
                                 <li><a href="javascript:void(0)">Uber</a></li>
                                 <li><a href="javascript:void(0)">Paypal</a></li>
                                 <li><a href="javascript:void(0)">Apple Pay</a></li>
                                </ul>
                          </div>


                          <div class="col-sm-3 col-xs-6 popup-nav-sec">
                              <h2><i>Legal </i></h2>
                              <ul class="company-navlist">
                                <li><a href="javascript:void(0)" class="pri-btn">Privacy</a></li>
                                 <li><a href="javascript:void(0)" class="about-p">Term</a></li>
                                 
                              </ul>
                          </div>
                      </div>


                      <div class="col-sm-12 col-xs-12 no-padd get-app-sec">
                          <div  class="col-sm-6 col-xs-6 app-view-box">
                                <h3>Get the App!</h3>
                                <a href="https://itunes.apple.com/us/app/wayt-app/id1317198692?ls=1&mt=8" class="btn apple-btn-pro"><i class="fa fa-apple" aria-hidden="true"></i> </a>
                                <!--<a href="" class="btn apple-btn-pro"><img src="http://waytapp.com/images/play.png" alt=""></a>-->
                          </div>

                          <div class="col-sm-6 col-xs-6 social-popup-icon">
                              <h3>Stay Social</h3>
                              <a href="https://www.facebook.com/WAYTapp/"><i class="fa fa-facebook"></i></a>
                               <a href="https://twitter.com/WAYT_app"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/wayt.app/"><i class="fa fa-instagram"></i></a>
                                 <!--<a href=""><i class="fa fa-youtube"></i></a>-->
                          </div>
                      </div>

                   </div>
                    <span class="top-toggle" style="font-size:30px;cursor:pointer; font-weight: 900;" onclick="openNav()">&#9776; </span>
               <!--  </a> -->
             </div>      
        </div>
      </div>
   </div>
</div>


<!-- slide -->
<div class="container-fluid banner-sec-top">
    <div class="row">
   
    <div class="container">
         <div class="col-md-6 col-sm-6 hidden-xs mobile-full wow fadeInLeft" data-wow-delay="2.9s" data-wow-duration="1.5s">
            <img src="http://waytapp.com/images/mobile-full.png" alt="">
         </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="slide-text ">
              
              <div class="wow zoomIn" data-wow-delay="2.9s" data-wow-duration="1.5s">
                    <h3>The New Way to Party is here.</h3>
                 <h4>Live the experience and enjoy the ultimate <br> app that changes the way to go out</h4>
              </div>

            <ul class="wow fadeIn" data-wow-delay="2.9s" data-wow-duration="1.5s">
              <li>
                <a href="https://itunes.apple.com/us/app/wayt-app/id1317198692?ls=1&mt=8">
                  <button type="button" class="btn btn-lg store "><i class="fa fa-apple" aria-hidden="true"></i>  App Store</button> 
                </a>
              </li>
              <!--<li><a href="#"> <button type="button" class="btn btn-lg store play"><img src="http://waytapp.com/images/play.png" alt=""> Play Store</button></a></li>-->
            </ul>
           </div>
          </div>

       
<!--       <div class='box'>-->
<!--  <div class='flask second'>-->
<!--    <div class='inner-flask'>-->
<!--      <div class='bubble normal'></div>-->
<!--      <div class='bubble medium'></div>-->
<!--      <div class='bubble large'></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
  



     </div>
</div>
</div>


<div class="container-fluid slider-sec-padd">
    <div class="container">
   <div class="row">
       
      <div class="col-md-12 col-sm-12 col-xs-12 no-padd">
             <section class="section-feedback">
    <div class="feedback-slider">
      <figure class="slide">
        <div class="feedback-image-wrapper w-hidden-small w-hidden-tiny">
           <div class="feedback-image-bg"></div>
        </div>
        <div class="feedback-image-wrapper-mobile w-hidden-main w-hidden-medium">
          <div class="feedback-image-bg"></div>
        </div>
        <div class="slide-content-wrapper">
          <div class="slide-text-wrapper">
              <span class="inner-sidebox"></span>
            <div class="w-embed bod">
              <a href=""><h3>Sasha, 25</h3></a>
              <p class="feedback-text">It’s another great platform to interact with my followers. I can let them know where Ill be performing on any given night. I definitely recommend it.</p>
            </div>
            <!-- <div class="feedback-name">Sara Esteves Cardoso</div>
            <div class="feedback-job">Analista de Redes Sociais</div> -->
          </div>
        </div>
      </figure>
      <figure class="slide">
        <div class="feedback-image-wrapper w-hidden-small w-hidden-tiny">
          <div class="feedback-image-bg-2"></div>
        </div>
        <div class="feedback-image-wrapper-mobile w-hidden-main w-hidden-medium">
          <div class="feedback-image-bg-2"></div>
        </div>
        
    
        <div class="slide-content-wrapper">
          <div class="slide-text-wrapper">
            <div class="w-embed bod">
              <a href=""><h3>David, 24</h3></a>
              <p class="feedback-text">Buying drinks when I’m out has never been easier. There’s no need to try to flag down a bartender when I can just order and pay straight through my phone. It’s simple.</p>
            </div>
           <!--  <div class="feedback-name">Tomé Fonseca</div>
            <div class="feedback-job">Estudante de Direito</div> -->
          </div>
        </div>
      </figure>
      <figure class="slide">
        <div class="feedback-image-wrapper w-hidden-small w-hidden-tiny">
          <div class="feedback-image-bg-3"></div>
        </div>
        <div class="feedback-image-wrapper-mobile w-hidden-main w-hidden-medium">
          <div class="feedback-image-bg-3"></div>
        </div>
        <div class="slide-content-wrapper">
          <div class="slide-text-wrapper">
            <div class="w-embed bod">
              <a href=""><h3>Andrea, 21</h3></a>
              <p class="feedback-text">I love this app. I can see who will be attending my favorite clubs on any night of the week. I also added my close friends to my Notification List so we can coordinate nights out better. There’s also a function to share your OOTN, so I know my best outfits are always seen.</p>
            </div>
           <!--  <div class="feedback-name">João Onofre</div>
            <div class="feedback-job">Médico Pediatra</div> -->
          </div>
        </div>
      </figure>
      <figure class="slide">
        <div class="feedback-image-wrapper w-hidden-small w-hidden-tiny">
          <div class="feedback-image-bg-4"></div>
        </div>
        <div class="feedback-image-wrapper-mobile w-hidden-main w-hidden-medium">
          <div class="feedback-image-bg-4"></div>
        </div>
        <div class="slide-content-wrapper">
          <div class="slide-text-wrapper">
            <div class="w-embed bod">
              <a href=""><h3>Alejandro, 22</h3> </a>
              <p class="feedback-text">I just moved to NYC, so this app has been my go-to when figuring out the bar and club scene here. I can see all the venues near me, I can see how many people check-in at each spot, I can see pictures they post from inside the venue... all before I even step foot inside. It’s great.</p>
            </div>
           <!--  <div class="feedback-name">Joana Azevedo</div>
            <div class="feedback-job">Comercial</div> -->
          </div>
        </div>
      </figure>
      <div class="feedback-slider-nav-wrapper">
        <ul id="slider-dots" class="feedback-slider-nav w-list-unstyled">
          <li class="feedback-slider-nav-dot-wrapper">
            <div class="feedback-slider-nav-dot">
              <div class="feedback-slider-nav-dot-anim"></div>
            </div>
          </li>
          <li class="feedback-slider-nav-dot-wrapper">
            <div class="feedback-slider-nav-dot">
              <div class="feedback-slider-nav-dot-anim"></div>
            </div>
          </li>
          <li class="feedback-slider-nav-dot-wrapper">
            <div class="feedback-slider-nav-dot">
              <div class="feedback-slider-nav-dot-anim"></div>
            </div>
          </li>
          <li class="feedback-slider-nav-dot-wrapper">
            <div class="feedback-slider-nav-dot">
              <div class="feedback-slider-nav-dot-anim"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
      </div>
   </div>
</div>
</div>

<!-- mobile content -->
<div class="container-fluid hottest-club-sec" id="clubs">
    <div class="container">
        <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12"> 

             <div class="col-md-6 col-sm-6 col-xs-12 hottest" data-wow-delay="0.3s" data-wow-duration="1.5s">
                <h3>Find the Hottest Clubs <span class="length-div slideanim wp-active"></span></h3>
                <h3>And Bar in your City. <span class="length-div slideanim2 wp-active"></span></h3>
                <h4> <span style="text-transform:capitalize;">Check </span> where your friends are going  out And post pictures and videos of your night. Try to be the person with most likes of the club!</h4>
             </div>

              <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight wat-mobile" data-wow-delay="0.4s" data-wow-duration="1.5s">
                 <img src="http://waytapp.com/images/wayt-mobile.png" alt="" class="img-responsive">
              </div>

         </div>
      </div>
    </div>
</div>



<!-- gray-bg-content-mobile -->
<div class="container-fluid waste-time-sec">
<div class="container">
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12 gray-bg" id="drinks">
           
           
            <div class="hidden-lg hidden-md hidden-sm col-xs-12 hottest-2bg" data-wow-delay="0.3s" data-wow-duration="1.5s">
                <h3>Do not Waste Your Time <span class="length-div slideanim wp-active"></span></h3>
                <h3>In Lines, Order Ahead. <span class="length-div slideanim2 wp-active"></span></h3>
                <h4><span style="text-transform:capitalize;"> Reserve </span> VIP Tables in the best clubs <br> and split the price with your friends.</h4>
             </div>

               <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft wat-mobile" data-wow-delay="0.4s" data-wow-duration="1.5s">
                 <img src="http://waytapp.com/images/111.png" alt="" class="fixed-mob-img">
            <!--     <video width="100%" controls autoplay loop>-->
            <!--  <source src="http://waytapp.com/images/Donotwasteyourtime.mp4" type="video/mp4">-->
            <!--  <source src="http://waytapp.com/images/Donotwasteyourtime.ogg" type="video/ogg">-->
             
            <!--</video>-->
               </div>

               <div class="col-md-6 col-sm-6 hidden-xs hottest-2bg" data-wow-delay="0.3s" data-wow-duration="1.5s">
                <h3>Do Not Waste Your Time <span class="length-div slideanim wp-active"></span></h3>
                <h3>In Lines, Order Ahead. <span class="length-div slideanim2 wp-active"></span></h3>
                <h4><span style="text-transform:capitalize;"> Reserve </span> VIP Tables in the best clubs <br> and split the price with your friends.</h4>
             </div>

             
       </div>
       </div>
  </div>
</div>



<!-- girl-boy -->
<div class="container-fluid friends-challenge-sec" id="influencer">
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12 girl-boy">

               <div class="col-md-6 col-sm-6 col-xs-12 girl-boy-content" data-wow-delay="0.3s" data-wow-duration="1.5s">
                <h3>Add Your Friends And <span class="length-div slideanim wp-active" style="left: 0;right:auto;"></span> </h3>
                <h3> Idols. Become One Of  Them. <span class="length-div slideanim2 wp-active" style="left: 0;right:auto;"></span></h3>
                <h4><span style="text-transform:capitalize;"> Challenge </span> your Friends with the Influencer Rate. Remember it goes Up and Down Depending of your activity. Updates Weekly.</h4>
             </div>
             
              <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight people-pic" data-wow-delay="0.4s" data-wow-duration="1.5s">
                 <img src="http://waytapp.com/images/peo.png" alt="">
               </div>
             
       </div>
     </div>
   </div>



<!-- connect-mobile -->
<div class="container-fluid gray-bottam">
   <div class="container">
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12 no-padd" id="chat">

               <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft wat-mobile" data-wow-delay="0.4s" data-wow-duration="1.5s">
                 <img src="http://waytapp.com/images/new-one1.png" alt=""class="fixed-mob-img">
                 
            <!--     <video width="100%" controls autoplay loop>-->
            <!--  <source src="http://waytapp.com/images/Connectwithpeople.mov" type="video/mp4">-->
            <!--  <source src="http://waytapp.com/images/Connectwithpeople.mov" type="video/mov">-->
            <!--</video>-->
               </div>

               <div class="col-md-6 col-sm-6 col-xs-12 hottest-2bg" data-wow-delay="0.3s" data-wow-duration="1.5s">
                <h3>Connect With New <span class="length-div slideanim wp-active"></span></h3>
                <h3> People. <span class="length-div slideanim2 wp-active"></span></h3>
                <h4><span style="text-transform:capitalize;">Chat </span> With Friends and Ask them where  are they going. Start the conversation before going to the 
                club. Use the notification list to add your Friends and Celebrities.<span style="text-transform:capitalize;"> Receive </span> notifications of where they are going out!</h4>
             </div>

             
       </div>
     </div>
   </div>
</div>



<!-- footer -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 expirence-footer">
             <div class="col-md-12 exp-foo wow zoomIn"  data-wow-delay="0.3s" data-wow-duration="1.5s">
               <h3>The New WAY To Party <br/>is Here</h3>
             </div>
             <div class="col-md-12 col-sm-12 col-xs-12 foo-botton wow fadeIn"  data-wow-delay="0.3s" data-wow-duration="1.5s">
                 <ul>
                    <li><a href="https://itunes.apple.com/us/app/wayt-app/id1317198692?ls=1&mt=8"><button type="button" class="btn btn-lg store-foo"><i class="fa fa-apple" aria-hidden="true"></i>  App Store</button> </a></li>
                    <!--<li><a href="#"> <button type="button" class="btn btn-lg play-foo"><img src="http://waytapp.com/images/play.png" alt=""> Play Store</button></a></li>-->
                </ul>
             </div>

      </div>


           <div class="col-md-12 col-sm-12 col-xs-12 foo-botom-footer">
                <div class="col-md-5 foo-menu">
                   <ul>
                     <li><a href="#">Download</a></li>
            
                       <li><a class="abt-us"><span></span> About us</a></li>
                   </ul>
                </div>

                 <div class="col-md-2 footer-logo">
                    <img src="http://waytapp.com/images/footer-logo.png" alt="">
                 </div>

                  <div class="col-md-5 foo-menu">
                    <ul>
                     <li><a class="pri-btn">Privacy Policy</a></li>
                       <li><a class="about-p">Term</a></li>
                       <!--<li><a href="#"><span></span> Jobs</a></li>-->
                   </ul>
                   <p class="copy-touch">Designed by:<a href="http://designhenge.com/"> Designhenge</a></p>
              </div>
         </div>
    </div>
</div>




<div class="animate-box-side">
    <div class="content-privacy">
    
    <h2>Terms of Service <a href="javascript:void(0)" class="close-tb">x</a></h2>

<h4> 1. Acceptance of Terms of Use Agreement. </h4> 

<p> By creating a Wayt account, whether through a mobile device, mobile application or computer (collectively, the “Service”) you agree to be bound by (i) these Terms of Use, (ii) our Privacy Police, which is incorporated by reference into this Agreement, and (iii) any terms disclosed and agreed to by you if you purchase additional features, products or services we offer on the Service (collectively, this “Agreement”). If you do not accept and agree to be bound by all of the terms of this Agreement, please do not use the Service.</p>
<p> We may make changes to this Agreement and to the Services from time to time. We may do this for a variety of reasons including to reflect changes in or requirements of the law, new features, or changes in business practices. The most recent version of this Agreement will be posted on the Services under Settings and also on goWayt.com, and you should regularly check for the most recent version. The most recent version is the version that applies. If the changes include material changes that affect your rights or obligations, we will notify you in advance of the changes by reasonable means, which could include notification through the Services or via email. If you continue to use the Services after the changes become effective, then you agree to the revised Agreement.</p>
<h4>2. Eligibility.</h4>
<p>You must be at least 18 years of age to create an account on Wayt and use the Service. By creating an account and using the Service, you represent and warrant that:</p>
<ul>
<li><i class="fa fa-angle-right"></i>	you can form a binding contract with Wayt,</li>
<li><i class="fa fa-angle-right"></i>	you are not a person who is barred from using the Service under the laws of the United States or any other applicable jurisdiction–meaning that you do not appear on the U.S. Treasury Department’s list of Specially Designated Nationals or face any other similar prohibition,</li>
<li><i class="fa fa-angle-right"></i>	you will comply with this Agreement and all applicable local, state, national and international laws, rules and regulations, and </li>
<li><i class="fa fa-angle-right"></i>	you have never been convicted of a felony and that you are not required to register as a sex offender with any state, federal or local sex offender registry. </li>
</ul>

<h4>3. Your Account </h4>
<p>In order to use Wayt, you may sign in using your Facebook login.  If you do so, you authorize us to access and use certain Facebook account information, including but not limited to your public Facebook profile and information about Facebook friends you share in common with other Wayt users. For more information regarding the information we collect from you and how we use it, please consult our Privacy Police.</p>
<p>You are responsible for maintaining the confidentiality of your login credentials you use to sign up for Wayt, and you are solely responsible for all activities that occur under those credentials. If you think someone has gained access to your account, please immediately contact wayt.app@gmail.com.</p>
<h4>4. Modifying the Services and Termination.</h4>
<p>Wayt is always striving to improve the Services and bring you additional functionality that you will find engaging and useful. This means we may add new product features or enhancements from time to time as well as remove some features, and if these actions do not materially affect your rights or obligations, we may not provide you with notice before taking them. We may even suspend the Services entirely, in which event we will notify you in advance unless extenuating circumstances, such as safety or security concerns, prevent us from doing so.</p> 
<p>You may terminate your account at any time, for any reason, by following the instructions in “Settings” in the Service, however you will need to manage your in app purchases through your mobile device platform (e.g., iTunes, Google Play). Wayt may terminate your account at any time without notice if it believes that you have violated this Agreement. Upon such termination, you will not be entitled to any refund for purchases. After your account is terminated, this Agreement will terminate, except that the following provisions will still apply to you and Wayt: Section 5, Section 6, and Sections 13 through 20.</p> 
<h4>5. Safety; Your Interactions with Other Users.</h5>
<p> Though Wayt strives to encourage a respectful user experience through features like the double opt-in that only allows users to communicate if they have both indicated interest in one another, it is not responsible for the conduct of any user on or off of the Services. You agree to use caution in all interactions with other users, particularly if you decide to communicate off the Service or meet in person. In addition, you agree to review and follow Wayt’s Safety Tips, located on goWayt.com, prior to using the Service. You should not provide your financial information (for example, your credit card or bank account information), or wire or otherwise send money, to other users.</p>
<p>YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER USERS. YOU UNDERSTAND THAT WAYT DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS OR OTHERWISE INQUIRE INTO THE BACKGROUND OF ITS USERS. WAYT MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS. WAYT RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTER SEARCHES) AT ANY TIME USING AVAILABLE PUBLIC RECORDS.</p>
<h4>6. Rights Wayt Grants You.</h4>
<p>Wayt grants you a personal, worldwide, royalty-free, non-assignable, nonexclusive, revocable, and non-sublicensable license to access and use the Services. This license is for the sole purpose of letting you use and enjoy the Services’ benefits as intended by Wayt and permitted by this Agreement. Therefore, you agree not to:</p>
<ul>
<li><i class="fa fa-angle-right"></i>	use the Service or any content contained in the Service for any commercial purposes without our written consent. </li>
<li><i class="fa fa-angle-right"></i>	copy, modify, transmit, create any derivative works from, make use of, or reproduce in any way any copyrighted material, images, trademarks, trade names, service marks, or other intellectual property, content or proprietary information accessible through the Service without Wayt’s prior written consent.</li>
<li><i class="fa fa-angle-right"></i>	express or imply that any statements you make are endorsed by Wayt. </li>
<li><i class="fa fa-angle-right"></i>	use any robot, bot, spider, crawler, scraper, site search/retrieval application, proxy or other manual or automatic device, method or process to access, retrieve, index, “data mine,” or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents.</li>
<li><i class="fa fa-angle-right"></i>	use the Services in any way that could interfere with, disrupt or negatively affect the Service or the servers or networks connected to the Service.</li>
<li><i class="fa fa-angle-right"></i>	upload viruses or other malicious code or otherwise compromise the security of the Services. 
<li><i class="fa fa-angle-right"></i>	forge headers or otherwise manipulate identifiers in order to disguise the origin of any information transmitted to or through the Service. </li>
<li><i class="fa fa-angle-right"></i>	“frame” or “mirror” any part of the Service without Wayt’s prior written authorization. </li>
<li><i class="fa fa-angle-right"></i>	use meta tags or code or other devices containing any reference to Wayt or the Service (or any trademark, trade name, service mark, logo or slogan of Wayt) to direct any person to any other website for any purpose.</li>
<li><i class="fa fa-angle-right"></i>	modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Service, or cause others to do so. </li>
<li><i class="fa fa-angle-right"></i>	use or develop any third-party applications that interact with the Services or other users’ Content or information without our written consent. </li>
<li><i class="fa fa-angle-right"></i>	use, access, or publish the Wayt application programming interface without our written consent. </li>
<li><i class="fa fa-angle-right"></i>	probe, scan or test the vulnerability of our Services or any system or network. </li>
<li><i class="fa fa-angle-right"></i>	encourage or promote any activity that violates this Agreement. </li>
</ul>
<p>The Company may investigate and take any available legal action in response to illegal and/ or unauthorized uses of the Service, including termination of your account.</p>
Any software that we provide you may automatically download and install upgrades, updates, or other new features. You may be able to adjust these automatic downloads through your device’s settings.</p>
<h4>7. Rights you Grant Wayt.</h4>
<p>By creating an account, you grant to Wayt a worldwide, transferable, sub-licensable, royalty-free, right and license to host, store, use, copy, display, reproduce, adapt, edit, publish, modify and distribute information you authorize us to access from Facebook, as well as any information you post, upload, display or otherwise make available (collectively, “post”) on the Service or transmit to other users (collectively, “Content”). Our license to your Content is subject to your rights under applicable law (for example laws regarding personal data protection to the extent any Content contains personal information as defined by those laws) and is for the limited purpose of operating, developing, providing, and improving the Service and researching and developing new ones. You agree that any Content you place or that you authorize us to place on the Service may be viewed by other users and may be viewed by any person visiting or participating in the Service (such as individuals who may receive shared Content from other Wayt users).</p>
<p>You agree that all information that you submit upon creation of your account, including information submitted from your Facebook account, is accurate and truthful and you have the right to post the Content on the Service and grant the license to Wayt above.</p>
<p>You understand and agree that we may monitor or review any Content you post as part of a Service. We may delete any Content, in whole or in part, that in our sole judgment violates this Agreement or may harm the reputation of the Service.</p>
<p>When comm </li>unicating with our customer care representatives, you agree to be respectful and kind. If we feel that your behavior towards any of our customer care representatives or other employees is at any time threatening or offensive, we reserve the right to immediately terminate your account.</p>
<p>In consideration for Wayt allowing you to use the Services, you agree that we, our affiliates, and our third-party partners may place advertising on the Services. By submitting suggestions or feedback to Wayt regarding our Services, you agree that Wayt may use and share such feedback for any purpose without compensating you.</p>
<p>You agree that Wayt may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary, such as to: (i) comply with legal process; (ii) enforce this Agreement; (iii) respond to claims that any Content violates the rights of third parties; (iv) respond to your requests for customer service; or (v) protect the rights, property or personal safety of the Company or any other person.</p>
<h4>8. Community Rules.</h4> 
<p> By using the Services, you agree that you will not:</p>
<ul>
<li><i class="fa fa-angle-right"></i>	use the Service for any purpose that is illegal or prohibited by this Agreement.</li>
<li><i class="fa fa-angle-right"></i>	spam, solicit money from or defraud any users. </li>
<li><i class="fa fa-angle-right"></i>	impersonate any person or entity or post any images of another person without his or her permission. </li>
<li><i class="fa fa-angle-right"></i>	bully, “stalk,” intimidate, harass or defame any person. </li>
<li><i class="fa fa-angle-right"></i>	post any Content that violates or infringes anyone’s rights, including rights of publicity, privacy, copyright, trademark or other intellectual property or contract right. </li>
<li><i class="fa fa-angle-right"></i>	post any Content that is hate speech, threatening, sexually explicit or pornographic; incites violence; or contains nudity or graphic or gratuitous violence. </li>
<li><i class="fa fa-angle-right"></i>	post any Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual. </li>
<li><i class="fa fa-angle-right"></i>	solicit passwords for any purpose, or personal identifying information for commercial or unlawful purposes from other users or disseminate another person’s personal information without his or her permission. </li>
<li><i class="fa fa-angle-right"></i>	use another user’s account. </li>
<li><i class="fa fa-angle-right"></i>	create another account if we have already terminated your account, unless you have our permission. </li>
</ul>
<p>Wayt reserves the right to investigate and/ or terminate your account without a refund of any purchases if you have misused the Service or behaved in a way that Wayt regards as inappropriate or unlawful, including actions or communications that occur off the Service but involve users you meet through the Service.</p>
<h4>9. Other Users’ Content. </h4>
<p>Although Wayt reserves the right to review and remove Content that violates this Agreement, such Content is the sole responsibility of the user who posts it, and Wayt cannot guarantee that all Content will comply with this Agreement. If you see Content on the Services that violates this Agreement, please report it within the Services or via help@goWayt.com. </p>
<h4> 10. Purchases.</h4>
<p>In App Purchases. From time to time, Wayt may offer products and services for purchase (“in app purchases”) through iTunes, Google Play or other application platforms authorized by Wayt (each, a “Software Store”). If you choose to make an in app purchase, you will be prompted to enter details for your account with your Software Store (“your IAP Account”), and your IAP Account will be charged for the in app purchase in accordance with the terms disclosed to you at the time of purchase as well as the general terms for in app purchases that apply to your IAP Account. Some Software Stores may charge you sales tax, depending on where you live. If you purchase an auto-recurring periodic subscription through an in app purchase, your IAP Account will be billed continuously for the subscription until you cancel. After your initial subscription commitment period, and again after any subsequent subscription period, your subscription will automatically continue for an additional equivalent period, at the price you agreed to when subscribing. If you do not wish your subscription to renew automatically, or if you want to change or terminate your subscription, you will need to log in to your IAP account and follow instructions to cancel your subscription, even if you have otherwise deleted your account with us or if you have deleted the Wayt application from your device. Deleting your account on Wayt or deleting the Wayt application from your device does not cancel your subscription; Wayt will retain all funds charged to your IAP Account until you cancel your subscription through your IAP Account.</p>
<b>Wayt Online Purchases (Drinks and tables)</b>
<p>If you choose to make a purchase through Wayt Online, you agree to pay Wayt all charges at the prices displayed to you for the services you’ve selected as well as any sales or similar taxes that may be imposed on your payments, and you authorize Wayt to charge your chosen payment provider (your “Payment Method”). Wayt may correct any billing errors or mistakes that it makes even if it has already requested or received payment. If you initiate a chargeback or otherwise reverse a payment made with your Payment Method, Wayt may terminate your account immediately in its sole discretion. Your payment will go directly to the seller of that product. So Wayt App is no responsable about the quality or any mistake/error that occurs with that purchase.</p>
<p>You may edit your Payment Method information by visiting Wayt Online and going to “My Profile.” If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not edit your Payment Method information or cancel your subscription, you remain responsible for any uncollected amounts and authorize us to continue billing the Payment Method, as it may be updated. This may result in a change to your payment billing dates. In addition, you authorize us to obtain updated or replacement expiration dates and card numbers for your credit or debit card as provided by your credit or debit card issuer. The terms of your payment will be based on your Payment Method and may be determined by agreements between you and the financial institution, credit card issuer or other provider of your chosen Payment Method. If you reside outside of the Americas, you agree that your payment to Wayt will be through MTCH Technology Services Limited.</p>
<p>Refunds. Generally, all charges for purchases are nonrefundable, and there are no refunds or credits for partially used periods. </p>
<p>You may cancel your subscription, without penalty or obligation, at any time prior to midnight of the third business day following the date you subscribed. In the event that you die before the end of your subscription period, your estate shall be entitled to a refund of that portion of any payment you had made for your subscription which is allocable to the period after your death. In the event that you become disabled (such that you are unable to use the services of Wayt) before the end of your subscription period, you shall be entitled to a refund of that portion of any payment you had made for your subscription which is allocable to the period after your disability by providing the company notice in the same manner as you request a refund as described below.</p>
<p>Purchases of Virtual Items are FINAL AND NON-REFUNDABLE.</p>
<h4>11. Notice and Procedure for Making Claims of Copyright Infringement.</h4>
<p>If you believe that your work has been copied and posted on the Service in a way that constitutes copyright infringement, please provide our Copyright Agent with the following information:</p>
<ul>
<li><i class="fa fa-angle-right"></i>	an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; </li>
<li><i class="fa fa-angle-right"></i>	a description of the copyrighted work that you claim has been infringed; </li>
<li><i class="fa fa-angle-right"></i>	a description of where the material that you claim is infringing is located on the Service (and such description must be reasonably sufficient to enable us to find the alleged infringing material); </li>
<li><i class="fa fa-angle-right"></i>	your contact information, including address, telephone number and email address; </li>
<li><i class="fa fa-angle-right"></i>	a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and </li>
<li>	a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf. </li>
</ul>
<h4>12. Disclaimers</h4>
<p>WAYT PROVIDES THE SERVICE ON AN “AS IS” AND “AS AVAILABLE” BASIS AND TO THE EXTENT PERMITTED BY APPLICABLE LAW, GRANTS NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE WITH RESPECT TO THE SERVICE (INCLUDING ALL CONTENT CONTAINED THEREIN), INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF SATISFACTORY QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. WAYT DOES NOT REPRESENT OR WARRANT THAT (A) THE SERVICE WILL BE UNINTERRUPTED, SECURE OR ERROR FREE, (B) ANY DEFECTS OR ERRORS IN THE SERVICE WILL BE CORRECTED, OR (C) THAT ANY CONTENT OR INFORMATION YOU OBTAIN ON OR THROUGH THE SERVICES WILL BE ACCURATE.</p>
<p>WAYT TAKES NO RESPONSIBILITY FOR ANY CONTENT THAT YOU OR ANOTHER USER OR THIRD PARTY POSTS, SENDS OR RECEIVES THROUGH THE SERVICES. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK.</p>
<h4>13. Third Party Services</h4>
<p>The Service may contain advertisements and promotions offered by third parties and links to other web sites or resources. Wayt is not responsible for the availability (or lack of availability) of such external websites or resources. If you choose to interact with the third parties made available through our Service, such party’s terms will govern their relationship with you. Wayt is not responsible or liable for such third parties’ terms or actions.</p>
<h4>14. Limitation of Liability</h4>
<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL WAYT, ITS AFFILIATES, EMPLOYEES, LICENSORS OR SERVICE PROVIDERS BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING, WITHOUT LIMITATION, LOSS OF PROFITS, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: (I) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES, (II) THE CONDUCT OR CONTENT OF OTHER USERS OR THIRD PARTIES ON, THROUGH, OR FOLLOWING USE OF THE SERVICES; OR (III) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR CONTENT, EVEN IF WAYT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL WAYT’S AGGREGATE LIABILITY TO YOU FOR ALL CLAIMS RELATING TO THE SERVICE EXCEED THE AMOUNT PAID, IF ANY, BY YOU TO WAYT FOR THE SERVICE WHILE YOU HAVE AN ACCOUNT.</p>
<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SO SOME OR ALL OF THE EXCLUSIONS AND LIMITATIONS IN THIS SECTION MAY NOT APPLY TO YOU.</p>
<h4>15. Arbitration, Class-Action Waiver, and Jury Waiver</h4>
<p>Except for users residing within the EU or European Economic Area and elsewhere where prohibited by applicable law:</p>
<ul>
<li><i class="fa fa-angle-right"></i>	The exclusive means of resolving any dispute or claim arising out of or relating to this Agreement (including any alleged breach thereof) or the Service shall be BINDING ARBITRATION administered by the American Arbitration Association under the Consumer Arbitration Rules. The one exception to the exclusivity of arbitration is that you have the right to bring an individual claim against the Company in a small-claims court of competent jurisdiction. But whether you choose arbitration or small-claims court, you may not under any circumstances commence or maintain against the Company any class action, class arbitration, or other representative action or proceeding. </li>
<li><i class="fa fa-angle-right"></i>	By using the Service in any manner, you agree to the above arbitration agreement. In doing so, YOU GIVE UP YOUR RIGHT TO GO TO COURT to assert or defend any claims between you and the Company (except for matters that may be taken to small-claims court). YOU ALSO GIVE UP YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION OR OTHER CLASS PROCEEDING. Your rights will be determined by a NEUTRAL ARBITRATOR, NOT A JUDGE OR JURY, and the arbitrator shall determine all issues regarding the arbitrability of the dispute. You are entitled to a fair hearing before the arbitrator. The arbitrator can grant any relief that a court can, but you should note that arbitration proceedings are usually simpler and more streamlined than trials and other judicial proceedings. Decisions by the arbitrator are enforceable in court and may be overturned by a court only for very limited reasons. For details on the arbitration process, see our Arbitration Procedures. </li>
<li><i class="fa fa-angle-right"></i>	Any proceeding to enforce this arbitration agreement, including any proceeding to confirm, modify, or vacate an arbitration award, may be commenced in any court of competent jurisdiction. In the event that this arbitration agreement is for any reason held to be unenforceable, any litigation against the Company (except for small-claims court actions) may be commenced only in the federal or state courts located in Dallas County, Texas. You hereby irrevocably consent to the jurisdiction of those courts for such purposes. </li>
<li><i class="fa fa-angle-right"></i>	This Agreement, and any dispute between you and the Company, shall be governed by the laws of the state of Texas without regard to principles of conflicts of law, provided that this arbitration agreement shall be governed by the Federal Arbitration Act. </li>
<li><i class="fa fa-angle-right"></i>	The online dispute settlement platform of the European Commission is available under http://ec.europa.eu/odr. Wayt does not take part in dispute settlement procedures in front of a consumer arbitration entity for users residing in the EU or European Economic Area. </li>
</ul>
<h4>16. Governing Law</h4>
<p>For users residing in the EU or European Economic Area or elsewhere where our arbitration agreement is prohibited by law, the laws of Texas, U.S.A., excluding Texas’s conflict of laws rules, will apply to any disputes arising out of or relating to this Agreement or the Services. For the avoidance of doubt, the choice of Texas governing law shall not supersede any mandatory consumer protection legislation in such jurisdictions.</p>
<h4>17. Venue</h4>
<p>Except for users residing in the EU or European Economic Area, who may bring claims in their country of residence in accordance with applicable law, all claims arising out of or relating to this Agreement or the Services will be litigated exclusively in the federal or state courts of Dallas County, Texas, U.S.A., and you and Wayt consent to personal jurisdiction in those courts.</p>
<h4>18. Indemnity by You </h4>
<p>You agree, to the extent permitted under applicable law, to indemnify, defend and hold harmless Wayt, our affiliates, and their and our respective officers, directors, agents, and employees from and against any and all complaints, demands, claims, damages, losses, costs, liabilities and expenses, including attorney’s fees, due to, arising out of, or relating in any way to your access to or use of the Services, your Content, or your breach of this Agreement.</p>
<h4> 19. Entire Agreement; Other</h4>
<p>This Agreement, with the Privacy Policy, the Safety Tips and any terms disclosed and agreed to by you if you purchase additional features, products or services we offer on the Service, contains the entire agreement between you and Wayt regarding the use of the Service. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect. The failure of the Company to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision. You agree that your Wayt account is non-transferable and all of your rights to your account and its Content terminate upon your death. No agency, partnership, joint venture or employment is created as a result of this Agreement and you may not make any representations or bind Wayt in any manner. </p>


    
    </div>
    
    
    <div class="terms-content">
       <h2> Privacy Policy  <a href="javascript:void(0)" class="close-tb">x</a></h2>

<h4>Information we collect about you</h4> 
<p><b>In General. </b> We may collect Personal Information, including Sensitive Data, and other information. “Personal Information” means individually identifiable information that would allow us to determine the actual identity of, and contact, a specific living person. Sensitive Data includes information, comments or content (e.g. photographs, video, profile, lifestyle) that you optionally provide that may reveal your ethnic origin, nationality, religion and/or sexual orientation. By providing Sensitive Data to us, you consent to the collection, use and disclosure of Sensitive Data as permitted by applicable privacy laws. We may also collect your geolocation information with your consent. We may collect this information through a website, mobile application, or other online services. By using the Service, you are authorizing us to gather, parse and retain data related to the provision of the Service. When you provide personal information through our Service, the information may be sent to servers located in the United States and countries around the world.</p>
<p><b>Information you provide.</b> In order to register as a user with Wayt, you will be asked to sign in using your Facebook login. If you do so, you authorize us to access certain Facebook account information, such as your public Facebook profile (consistent with your privacy settings in Facebook), your email address, interests, likes, gender, birthday, education history, relationship interests, current city, photos, personal description, friend list, and information about and photos of your Facebook friends who might be common Facebook friends with other Wayt users. You will also be asked to allow Wayt to collect your location information from your device when you download or use the Service. In addition, we may collect and store any personal information you provide while using our Service or in some other manner. This may include identifying information, such as your name, address, email address and telephone number, and, if you transact business with us, financial information. You may also provide us photos, a personal description and information about your gender and preferences for recommendations, such as search distance, age range and gender. If you chat with other Wayt users, you provide us the content of your chats, and if you contact us with a customer service or other inquiry, you provide us with the content of that communication.</p>
<p> <b></b>Use of technologies to collect information. </b> We use various technologies to collect information from your device and about your activities on our Service. </p>
<p> <b>Information collected automatically. </b> We automatically collect information from your browser or device when you visit our Service. This information could include your IP address, device ID and type, your browser type and language, the operating system used by your device, access times, your mobile device’s geographic location while our application is actively running, and the referring website address. </p>
<p> <b>Cookies and use of cookie and similar data. </b> When you visit our Service, we may assign your device one or more cookies or other technologies that facilitate personalization to facilitate access to our Service and to personalize your experience. Through the use of a cookie, we also may automatically collect information about your activity on our Service, such as the pages you visit, the time and date of your visits and the links you click. If we advertise, we (or third parties) may use certain data collected on our Service to show you Wayt advertisements on other sites or applications.</p>
<p> <b>Pixel tags. </b> We embed pixel tags (also called web beacons or clear GIFs) on web pages, ads, and emails. These tiny, invisible graphics are used to access cookies and track user activities (such as how many times a page is viewed). We use pixel tags to measure the popularity of our features and services. Ad companies also use pixel tags to measure the number of ads displayed and their performance (such as how many people clicked on an ad). </p>
<p> <b>Mobile device IDs. </b> If you're using our app, we use mobile device IDs (the unique identifier assigned to a device by the manufacturer), or Advertising IDs (for iOS 9 and later), instead of cookies, to recognize you. We do this to store your preferences and track your use of our app. Unlike cookies, device IDs cannot be deleted, but Advertising IDs can be reset in “Settings” on your iPhone. Ad companies also use device IDs or Advertising IDs to track your use of the app, track the number of ads displayed, measure ad performance and display ads that are more relevant to you. Analytics companies use device IDs to track information about app usage.</p>
<p> <b>Information collected by third-parties for advertising purposes. </b> We may allow service providers, advertising companies and ad networks, and other third parties to display advertisements on our Service and elsewhere. These companies may use tracking technologies, such as cookies or web beacons, to collect information about users who view or interact with their advertisements. We do not provide any non-masked or non-obscured personal information to third parties. Some of these third-party advertising companies may be advertising networks that are members of the Network Advertising Initiative, which offers a single location to opt out of ad targeting from member companies (www.networkadvertising.org). Opting out will not decrease the number of advertisements you see. To opt-out of cookies that may be set by third party data or advertising partners, please go to <a href=""> http://www.aboutads.info/choices/. </a></p>
<h4>How we use the information we collect</h4>
<p>In General. We may use information that we collect about you to:
<p>deliver and improve our products and services, and manage our business;
<p>manage your account and provide you with customer support;
<p>perform research and analysis about your use of, or interest in, our or others’ products, services, or content;
<p>communicate with you by email, postal mail, telephone and/or mobile devices about products or services that may be of interest to you either from us or other third parties;
<p>develop, display, and track content and advertising tailored to your interests on our Service and other sites, including providing our advertisements to you when you visit other sites;
<p>website or mobile application analytics;
<p>verify your eligibility and deliver prizes in connection with contests and sweepstakes;
<p>enforce or exercise any rights in our Terms of Use, and
<p>perform functions or services as otherwise described to you at the time of collection.
<p><b>Job applicants.</b> If your Personal Information is submitted when applying for a position with our company, the information will be used solely in connection with considering and acting upon your application. We may retain your Personal Information, but only for the purpose of considering your application for current or future available positions. This information, which may include your name and contact information, prior education and experience, and other information you provide to us, may be shared with third-party service providers retained by us to collect, maintain and analyze candidate submissions for job postings.</p>
<p>In all circumstances, we may perform these functions directly or use a third party vendor to perform these functions on our behalf who will be obligated to use your personal information only to perform services for us. Also, if you access our Service from a third party social platform, such as Facebook, we may share non-personal information with that platform to the extent permitted by your agreement with it and its privacy settings.</p>
<p><b>With whom we share your information</b> </p>
<p>Information Shared with Other Users.When you register as a user of Wayt, your Wayt profile will be viewable by other users of the Service. Other users (and in the case of any sharing features available on Wayt, the individuals or apps with whom a Wayt user may choose to share you with) will be able to view information you have provided to us directly or through Facebook, such as your Facebook photos, any additional photos you upload, your first name, your age, approximate number of miles away, your personal description, and information you have in common with the person viewing your profile, such as common Facebook friends and likes. If you swipe right or use voting buttons to say “yes” to a person, you will be able to chat with that person if they swipe right or use voting buttons to say “yes” to you, e.g., when you have a “match.” If you chat with your match, of course your match will see the content of your chat.</p>
<p><b>Personal information. </b> We do not share your personal information with others except as indicated in this Privacy Policy or when we inform you and give you an opportunity to opt out of having your personal information shared. We may share personal information with: </p>
<p><b>Service providers. </b> We may share information, including personal and financial information, with third parties that perform certain services on our behalf. These services may include fulfilling orders, providing customer service and marketing assistance, performing business and sales analysis, ad tracking and analytics, member screenings, supporting our Service functionality, and supporting contests, sweepstakes, surveys and other features offered through our Service. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes.</p>
<p><b>Other Match Group businesses.</b> The Match Group’s businesses include the online dating websites and apps Match.com, OkCupid, OurTime.com, BlackPeopleMeet.com, Twoo, Meetic, POF, LoveScout24, ParPerfeito and others. We may share information we collect, including your profile and personal information such as your name and contact information, photos, interests, activities and transactions on our Service with other Match Group companies, subject to your consent where required under applicable law.</p>
<p><b>Other Situations.</b> We may disclose your information, including personal information:</p>
<p>In response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us.</p>
<p>When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our Terms of use or other agreements or policies.</p>
<p>In connection with a substantial corporate transaction, such as the sale of our business, a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.</p>
<p><b>Aggregated and/or non-personal information.</b> We may use and share non-personal information we collect under any of the above circumstances. We may also share it with other Match Group companies and third parties to develop and deliver targeted advertising on our Service and on websites or applications of third parties, and to analyze and report on advertising you see. We may combine non-personal information we collect with additional non-personal information collected from other sources. We also may share aggregated, non-personal information, or personal information in hashed, non-human readable form, with third parties, including advisors, advertisers and investors, for the purpose of conducting general business analysis, advertising, marketing, or other business purposes. For example, we may engage a data provider who may collect web log data from you (including IP address and information about your browser or operating system), or place or recognize a unique cookie on your browser to enable you to receive customized ads or content. The cookies may reﬂect de-identified demographic or other data linked to data you voluntarily have submitted to us (such as your email address), that we may share with a data provider solely in hashed, non-human readable form. We may also share your geolocation information in de-identified form with Match Group companies and third parties for the above purposes. To opt out of the sharing of your geolocation information, please discontinue use of the Wayt application.</p>
<p><b>Do Not Track disclosure</b></p>
<p>Do Not Track (“DNT”) is a privacy preference that users can set in their web browsers. DNT is a way for users to inform websites and services that they do not want certain information about their webpage visits collected over time and across websites or online services. We are committed to providing you with meaningful choices about the information we collect and that is why we provide the opt-out links above. However, we do not recognize or respond to any DNT signals, as the Internet industry works toward defining exactly what DNT means, what it means to comply with DNT, and a common approach to responding to DNT.</p>
<p><b>Third-party websites</b></p>
<p>There are a number of places on our Service where you may click on a link to access other websites that do not operate under this Privacy Policy. For example, if you click on an advertisement on our Service, you may be taken to a website that we do not control. These third- party websites may independently solicit and collect information, including personal information, from you and, in some instances, provide us with information about your activities on those websites. We recommend that you consult the privacy statements of all third-party websites you visit by clicking on the “privacy” link typically located at the bottom of the webpage you are visiting.</p>
<p><b> How you can access and correct your information </b></p>
<p>If you have a Wayt account, you have the ability to review and update your personal information within the Service by opening your account and going to settings. Applicable privacy laws may allow you the right to access and/or request the correction of errors or omissions in your personal information that is in our custody or under our control. Our Privacy Officer will assist you with the access request.</p>
<p>We will respond to requests within the time allowed by all applicable privacy laws and will make every effort to respond as accurately and completely as possible. Any corrections made to personal information will be promptly sent to any organization to which it was disclosed.</p>
<p>In certain exceptional circumstances, we may not be able to provide access to certain personal information we hold. For security purposes, not all personal information is accessible and amendable by the Privacy Officer. If access or corrections cannot be provided, we will notify the individual making the request within 30 days, in writing, of the reasons for the refusal.</p>
<p><b>Data retention</b></p>
<p>We keep your information only as long as we need it for legitimate business purposes and as permitted by applicable legal requirements. If you close your account, we will retain certain data for analytical purposes and recordkeeping integrity, as well as to prevent fraud, enforce our  Termas of Use, take actions we deem necessary to protect the integrity of our Service or our users, or take other actions otherwise permitted by law. In addition, if certain information has already been provided to third parties as described in this Privacy Policy, retention of that information will be subject to those third parties’ policies.</p>
<p><b>Your choices about collection and use of your information</b></p>
<p>You can choose not to provide us with certain information, but that may result in you being unable to use certain features of our Service because such information may be required in order for you to register as user; purchase products or services; participate in a contest, promotion, survey, or sweepstakes; ask a question; or initiate other transactions.</p>
<p>Our Service may also deliver notifications to your phone or mobile device. You can disable these notifications by going into “App Settings” on the app or by changing the settings on your mobile device.</p>
<p>You can also control information collected by cookies. You can delete or decline cookies by changing your browser settings. Click “help” in the toolbar of most browsers for instructions.</p>
<p><b>How we protect your personal information </b></p>
<p>We take security measures to help safeguard your personal information from unauthorized access and disclosure. However, no system can be completely secure. Therefore, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information, chats, or other communications will always remain secure. Users should also take care with how they handle and disclose their personal information and should avoid sending personal information through insecure email. Please refer to the Federal Trade Commission's website at <a href=""> http://www.ftc.gov/bcp/menus/consumer/data.shtm </a> for information about how to protect yourself against identity theft.</p>
<p>You agree that we may communicate with you electronically regarding security, privacy, and administrative issues, such as security breaches. We may post a notice on our Service if a security breach occurs. We may also send an email to you at the email address you have provided to us. You may have a legal right to receive this notice in writing. To receive free written notice of a security breach (or to withdraw your consent from receiving electronic notice), please notify us.</p>
<p><b>Information you provide about yourself while using our Service</b></p> 
<p>We provide areas on our Service where you can post information about yourself and others and communicate with others. Such postings are governed by our Terms of Use. Also, whenever you voluntarily disclose personal information on publicly-viewable pages, that information will be publicly available and can be collected and used by others. For example, if you post your email address, you may receive unsolicited messages. We cannot control who reads your posting or what other users may do with the information you voluntarily post, so we encourage you to exercise discretion and caution with respect to your personal information. Except as required by a court order or other similar legal proceeding, we will only make messages you send to another user through our Service accessible on the Service, unless you expressly request a copy of your messages in accordance with applicable law. Should you wish to receive a copy of any messages you received from other users through our Service, you must first obtain their prior written consent and then they must contact our Privacy Officer to provide their prior written consent.</p>
<p><b>Children's privacy </b></p>
<p>Although our Service is a general audience Service, we restrict the use of our service to individuals age 18 and above. We do not knowingly collect, maintain, or use personal information from children under the age of 18.</p>
<p><b>Onward transfer and consent to international processing</b></p>
<p> We are a growing corporation with users and operations in multiple countries, including the European Union. We have developed data practices designed to assure information is appropriately protected but we cannot always know where personal information may be accessed or processed. While our primary data centers are in the United States, we may transfer personal information or other information to our offices outside of the United States. In addition, we may employ other companies and individuals to perform functions on our behalf. If we disclose personal information to a third party or to our employees outside of the United States, we will seek assurances that any information we may provide to them is safeguarded adequately and in accordance with this Privacy Policy and the requirements of applicable privacy laws. </p>
<p>If you are visiting from the European Union or other regions with laws governing data collection and use, please note that you are agreeing to the transfer of your personal data, including sensitive data, by Wayt from your region to countries which do not have data protection laws that provide the same level of protection that exists in countries in the European Economic Area, including the United States. By providing your personal information, you consent to any transfer and processing in accordance with this Policy.</p>
<h4>No Rights of Third Parties</h4>
<p>This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of the website.</p>
<h4>Changes to this Privacy Policy</h4>
<p>We will occasionally update this Privacy Policy to reflect changes in the law, our data collection and use practices, the features of our Service, or advances in technology. When we post changes to this Privacy Policy, we will revise the “last updated” date at the top of this </p>

     </div>


    <div class="about-content-mt">
      <h2>  About us  <a href="javascript:void(0)" class="close-tb">x</a></h2>
      
<div class="col-sm-8 col-xs-12 no-padd left-about-cot">
<p>WAYT APP was born as an idea on June 2017 and after a year and a half and hours of work and dedication, the app has arrived to our world. This is the new social-media nightlife that came to revolutionize the way we go out to party. WAYT APP allows you to connect with people around you, find the best and hottest clubs or bars around you and even buy drinks or book VIP tables through the App.  </p>

<p>The app have a lot of functions that the user could use as tools to enjoy the best night of his life.
In the calendar section we provide you night events and concerts. You can buy tickets from the app, getting the best deals and discounts on the tickets. </p>

<p>Meet people around you with the nearby by section, you would be able to see who is around!! Do not be shy and talk to them by message to go out together.</p>

<p>For the most fashionable users we have the “Outfit of the night”, you will be able to share your outfit with the rest of the users and share where you bought them.  
The notification list function is a very useful part of the app. Add your best friends our celebrities to your list and get notified when they are going out. Perfect function for the fans and for the users that they have to many friends and they forget to text all of them. </p>

<p>If you want to know more about WAYT APP check our social-media and dont forget to download the app.</p>

<p>Javier Navarro, CEO and Co-Founder of WAYT APP, has graduated from St. Francis College, Brooklyn in 2018. He has played Division 1 college tennis for St. Francis College, were he was the captain; he has always liked the management roll positions. His first step in entrepreneurship was with Armoriale Co, a watch company, where he was one of the founders, this start-up taught him a lot that the books in school don't. After working as a public relations in different cities and travelled a lot for tennis and business reasons he had an idea of making the experience of party much easier for the consumer and developing and nightlife social media. This is how WAYT APP was founded.</p>

<p>Pablo Blasco, CCO and Co-Founder of WAYT APP is an undergraduate from St. Francis College, Brooklyn. He has played Division 1 college tennis at St. Francis College. He has worked in a financial and investment company in California where he learned a lot about financing and investments. When Javier told him his idea about this new nightlife social media, he saw the big potential the APP could have and without any doubt, they started the company.</p>
</div>

    <div class="col-sm-4 col-xs-12 no-padd right-img-about text-center">
        <img src="http://waytapp.com/images/about.png" class="img-responsive">
        <h5>Pablo and Javier after a meeting in Manhattan.</h5>
    </div>
    </div>


</div>



<div class="contact-popup">
    <div class="show-content">
        <h2>Contact Us <a href="javascript:void(0)" class="cont-close">x</a></h2>
        <p>Got something you want to talk about? Contactusor email us and wepromisetoget back toyou as soon as we can.
            For general information:</p>
            <p><a href="">wayt.app@gmail.com </a></p>
            
            <h4>HELP / SUPPORT</h4>
            <p>Forallthingstechnical and app-related.</p>
            <p>ContactUs to 256-998-0815</p>
            
            <h4>PARTNERSHIPS</h4>
            <p>Interested in partneringwith? </p>
              <p><a href="">  partners@waytapp.com</a>
                </p>
                
                
            <h4>PRESS</h4>
            <p>Interested in including in yournextarticleor blog?</p>
            <p><a href="">press@waytapp.com</a></p>
            
            <h4>AD SALES</h4>
            <p>Interested in advertisingon?</p>
            <p><a href="">adsales@waytapp.com</a></p>
    </div>
</div>



 </div>   		
</body>
</html>






<!-- load -->

<script>
 $(document).ready(function() {
 
    setTimeout(function() {
        $('body').addClass('loaded');
    }, 2000);
  

  $('.inn-log-btn').click(function(){
    $('#mySidenav').animate({height:'0%'});
  });
  
  
  
   $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("plide");
        }
    });
    $(".slideanim2").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("plide2");
        }
    });
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).removeClass("wp-active");
        }
    });
    
    
    $(".slideanim2").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).removeClass("wp-active");
        }
    });

  });
});
</script>


<!-- load end -->






<script>
    
    $(document).ready(function(){
       $('.main-menu-nav a').click(function(){
           $( ".fs-nav" ).removeClass( "active" )
            $(this).addClass('active'); 
       });
    });
    
    
</script>




<!-- togle-right -->
<script>
function openNav() {
    document.getElementById("mySidenav").style.height = "545px";
}

function closeNav() {
    document.getElementById("mySidenav").style.height = "0";
}
</script>














<!-- wow Animation repeat start -->
 <script>

//   window.addEventListener('scroll', function(e) {
//         if( $(window).scrollTop() <= 50) {
//             $('.wow').removeClass('animated');
//             $('.wow').removeAttr('style');
//             new WOW().init();
//         }
// });
  </script>  
 <!-- wow Animation repeat Close -->
















<script type="text/javascript">
    
(function() {
  var Util,
    __bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

  Util = (function() {
    function Util() {}

    Util.prototype.extend = function(custom, defaults) {
      var key, value;
      for (key in custom) {
        value = custom[key];
        if (value != null) {
          defaults[key] = value;
        }
      }
      return defaults;
    };

    Util.prototype.isMobile = function(agent) {
      return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(agent);
    };

    return Util;

  })();

  this.WOW = (function() {
    WOW.prototype.defaults = {
      boxClass: 'wow',
      animateClass: 'animated',
      offset: 0,
      mobile: true
    };

    function WOW(options) {
      if (options == null) {
        options = {};
      }
      this.scrollCallback = __bind(this.scrollCallback, this);
      this.scrollHandler = __bind(this.scrollHandler, this);
      this.start = __bind(this.start, this);
      this.scrolled = true;
      this.config = this.util().extend(options, this.defaults);
    }

    WOW.prototype.init = function() {
      var _ref;
      this.element = window.document.documentElement;
      if ((_ref = document.readyState) === "interactive" || _ref === "complete") {
        return this.start();
      } else {
        return document.addEventListener('DOMContentLoaded', this.start);
      }
    };

    WOW.prototype.start = function() {
      var box, _i, _len, _ref;
      this.boxes = this.element.getElementsByClassName(this.config.boxClass);
      if (this.boxes.length) {
        if (this.disabled()) {
          return this.resetStyle();
        } else {
          _ref = this.boxes;
          for (_i = 0, _len = _ref.length; _i < _len; _i++) {
            box = _ref[_i];
            this.applyStyle(box, true);
          }
          window.addEventListener('scroll', this.scrollHandler, false);
          window.addEventListener('resize', this.scrollHandler, false);
          return this.interval = setInterval(this.scrollCallback, 50);
        }
      }
    };

    WOW.prototype.stop = function() {
      window.removeEventListener('scroll', this.scrollHandler, false);
      window.removeEventListener('resize', this.scrollHandler, false);
      if (this.interval != null) {
        return clearInterval(this.interval);
      }
    };

    WOW.prototype.show = function(box) {
      this.applyStyle(box);
      return box.className = "" + box.className + " " + this.config.animateClass;
    };

    WOW.prototype.applyStyle = function(box, hidden) {
      var delay, duration, iteration;
      duration = box.getAttribute('data-wow-duration');
      delay = box.getAttribute('data-wow-delay');
      iteration = box.getAttribute('data-wow-iteration');
      return box.setAttribute('style', this.customStyle(hidden, duration, delay, iteration));
    };

    WOW.prototype.resetStyle = function() {
      var box, _i, _len, _ref, _results;
      _ref = this.boxes;
      _results = [];
      for (_i = 0, _len = _ref.length; _i < _len; _i++) {
        box = _ref[_i];
        _results.push(box.setAttribute('style', 'visibility: visible;'));
      }
      return _results;
    };

    WOW.prototype.customStyle = function(hidden, duration, delay, iteration) {
      var style;
      style = hidden ? "visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;" : "visibility: visible;";
      if (duration) {
        style += "-webkit-animation-duration: " + duration + "; -moz-animation-duration: " + duration + "; animation-duration: " + duration + ";";
      }
      if (delay) {
        style += "-webkit-animation-delay: " + delay + "; -moz-animation-delay: " + delay + "; animation-delay: " + delay + ";";
      }
      if (iteration) {
        style += "-webkit-animation-iteration-count: " + iteration + "; -moz-animation-iteration-count: " + iteration + "; animation-iteration-count: " + iteration + ";";
      }
      return style;
    };

    WOW.prototype.scrollHandler = function() {
      return this.scrolled = true;
    };

    WOW.prototype.scrollCallback = function() {
      var box;
      if (this.scrolled) {
        this.scrolled = false;
        this.boxes = (function() {
          var _i, _len, _ref, _results;
          _ref = this.boxes;
          _results = [];
          for (_i = 0, _len = _ref.length; _i < _len; _i++) {
            box = _ref[_i];
            if (!(box)) {
              continue;
            }
            if (this.isVisible(box)) {
              this.show(box);
              continue;
            }
            _results.push(box);
          }
          return _results;
        }).call(this);
        if (!this.boxes.length) {
          return this.stop();
        }
      }
    };

    WOW.prototype.offsetTop = function(element) {
      var top;
      top = element.offsetTop;
      while (element = element.offsetParent) {
        top += element.offsetTop;
      }
      return top;
    };

    WOW.prototype.isVisible = function(box) {
      var bottom, offset, top, viewBottom, viewTop;
      offset = box.getAttribute('data-wow-offset') || this.config.offset;
      viewTop = window.pageYOffset;
      viewBottom = viewTop + this.element.clientHeight - offset;
      top = this.offsetTop(box);
      bottom = top + box.clientHeight;
      return top <= viewBottom && bottom >= viewTop;
    };

    WOW.prototype.util = function() {
      return this._util || (this._util = new Util());
    };

    WOW.prototype.disabled = function() {
      return !this.config.mobile && this.util().isMobile(navigator.userAgent);
    };

    return WOW;

  })();

}).call(this);


wow = new WOW(
  {
    animateClass: 'animated',
    offset: 100
  }
);
wow.init();



</script>


























<script >


$(document).ready(function(){


var button = null;
var count = 0;
var counter;

carousel ();


function carousel (){
  
  var indexSlide = document.getElementsByClassName("slide");
    for (var i = 0; i < indexSlide.length; i++ ){
       indexSlide[i].classList.remove("active"); 
    };
  
  count++;
  
  if (count > indexSlide.length) {
    count = 1;
    
    indexSlide[count - 1].classList.add("active");
    } else {
    indexSlide[count - 1].classList.add("active");
  };
};

function newCarousel(button){
  
  var indexSlide = document.getElementsByClassName("slide");
    for (var i = 0; i < indexSlide.length; i++ ){
       indexSlide[i].classList.remove("active"); 
  };

  if( button !== null ) {
      indexSlide[button].classList.add("active");
  }
};


// bar - duration

var slideTime = 5; //seconds
var length = slideTime * 600;
var progressTime = length / 100 ;



//progress bar 

  
window.onload = progressBar;

function progressBar(slideTime){ 

  var start = Date.now();

  var id =  window.setInterval(draw, progressTime);

  var target = document.getElementsByClassName("feedback-slider-nav-dot-anim")[count - 1];


  function draw() {
    var delta = 100 * (Date.now() - start) / length;

    if ( delta > 100 ){
        delta = 100;   
        target.style.width = 0 + "px";     
        clearInterval(id); 
    } else {        
      target.style.width = (Math.round(delta) + "%");    
    }
  };    
};


var reId;

function newProgressBar( slideTime, button){ 

  start = Date.now();
  
  reId =  window.setTimeout(reDraw, progressTime);
  

  var newTarget = document.getElementsByClassName("feedback-slider-nav-dot-anim")[button];
  var resetTarget = document.getElementsByClassName("feedback-slider-nav-dot-anim");

  function reDraw() {
    
    delta = 100 * (Date.now() - start) / length;
  
    if ( delta > 100 ){
      delta = 100;   
        newTarget.style.width = 0 + "px";  
        clearTimeout(reId); 
      } else {           
        for(var j = 0; j < resetTarget.length ; j++ ){          
        resetTarget[j].style.width =  0 + "%";
      }        
      newTarget.style.width = (Math.round(delta) + "%");
      requestAnimationFrame(reDraw);
      }
    };
};

// nav-dot click

function click(e) {

  if ( e.target && e.target.nodeName == 'LI' ) {
      var click = document.getElementById('slider-dots');
      for (var h = 0, len = click.children.length; h < len; h++){
        (function(button){
          click.children[h].onclick = function(){
                count = button + 1;   
                stopLoop();                          
                newCarousel(button);                 
                clearTimeout(reId);
                newProgressBar(slideTime, button);          
                loop();                     
          };   
        })(h);
      }
  };
 
};
window.document.querySelector('.feedback-slider-nav-wrapper').addEventListener( 'click', click, true);


var set;
function loop(){
  set = window.setTimeout( function ouy (){
      carousel();
      progressBar(slideTime);
      set = setTimeout(ouy, length);       
    },length);
  };
loop();

function stopLoop() {
    clearTimeout(set);
};
 window.addEventListener("resize", resized);
  function resized(){
    var index = document.getElementsByClassName("feedback-image-wrapper");
     if ( window.innerWidth > 1230 ){
       
         var wpicf = this.innerWidth / 2 + 102.5;
        
         for (var i = 0; i < index.length; i++ ){
            index[i].style.width = wpicf + "px";
         }
       } else {
        
         wpicf = ((this.innerWidth * 7) / 12) - 5;
       
         for ( i = 0; i < index.length; i++ ){
            index[i].style.width = wpicf + "px";
         }
       }
  }

});
</script>



<script>
    
(function() {
  $(function() {
    var bubble;
    bubble = void 0;
    bubble = function(div, delay, wh) {
      setTimeout((function() {
        div.animate({
          top: 0,
          "margin-top": "-10px"
        }, 1000).animate({
          "margin-top": "-5px"
        }, 300).animate({
          "margin-top": "-100px",
          width: "40px",
          height: "40px",
          opacity: "0"
        }, 1500, function() {
          div.css({
            width: wh,
            height: wh,
            "margin-top": 0,
            top: 15,
            opacity: 1
          });
        });
      }), delay);
    };
    setInterval((function() {
      bubble($(".large"), 0, 10);
      bubble($(".medium"), 500, 15);
      bubble($(".normal"), 1000, 10);
    }), 3000);
  });

}).call(this);

    
</script>



<script>
    
    $(document).ready(function(){
        $('.about-p').click(function(){
            $('.animate-box-side').animate({right:'0%'},1000);
            $('body').css('overflow-y','hidden');
            $('.content-privacy').show();
            $('.contact-popup').hide();
            $('.animate-box-side').show();
            $('.about-content-mt').hide();
        });
        $('.close-tb').click(function(){
            $('.animate-box-side').animate({right:'-94%'}); 
            $('body').css('overflow-y','initial');
        });
        $('.pri-btn').click(function(){
        $('.animate-box-side').animate({right:'0%'},1000);
        $('body').css('overflow-y','hidden');
        $('.content-privacy').hide();
        $('.terms-content').show();
        $('.contact-popup').hide();
         $('.animate-box-side').show();
         $('.about-content-mt').hide();
    });
    
        $('.cont-l').click(function(){
            $('.contact-popup').animate({right:'0px'},1000);
            $('body').css('overflow-y','hidden');
            $('.animate-box-side').hide();
            $('.contact-popup').show();
        });
        $('.cont-close').click(function(){
            $('.contact-popup').animate({right:'-57%'}); 
            $('body').css('overflow-y','initial');
        });
        $('.abt-us').click(function(){
            $('.animate-box-side').animate({right:'0%'},1000);
            $('body').css('overflow-y','hidden');
            $('.about-content-mt').show();
            $('.content-privacy').hide();
            $('.contact-popup').hide();
            $('.terms-content').hide();
            $('.animate-box-side').show();
        });
    });
</script>




<script>
$(document).ready(function(){
  
  $("a, footer a[href='#myPage']").on('click', function(event) {
   
    if (this.hash !== "") {
      
      event.preventDefault();

     
      var hash = this.hash;

      
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
      
        window.location.hash = hash;
      });
    } 
  });
  

})
</script>