<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">2018-2021  &copy; Copyright WAYTApp <a class="text-bold-800 grey darken-2" target="_blank">All rights reserved.</a></span>
      <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
      </ul>
    </div>
  </footer>
  
  <!-- BEGIN VENDOR JS-->
  <script src="<%= process.env.BASE_URL %>/theme-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <!-- <script src="<%= process.env.BASE_URL %>/theme-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script> -->
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN CHAMELEON  JS-->
  <script src="<%= process.env.BASE_URL %>/theme-assets/js/core/app-menu-lite.js" type="text/javascript"></script>
  <script src="<%= process.env.BASE_URL %>/theme-assets/js/core/app-lite.js" type="text/javascript"></script>
  <!-- END CHAMELEON  JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <!-- <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script> -->
  
<!-- jQuery -->
<script src="<%= process.env.BASE_URL %>/plugins/jquery/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<!-- InputMask -->
<script src="<%= process.env.BASE_URL %>/plugins/moment/moment.min.js"></script>

<!-- date-range-picker -->
<script src="<%= process.env.BASE_URL %>/plugins/daterangepicker/daterangepicker.js"></script>


  <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script> -->
  <!-- END PAGE LEVEL JS-->