<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true"
  data-img="<%= process.env.BASE_URL %>/theme-assets/images/backgrounds/02.jpg">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" href="/admin/dashbord"><img class="brand-logo"
            alt="Chameleon admin logo" src="<%= process.env.BASE_URL %>/waytlogo.png" />
          <h3 class="brand-text">Waytapp</h3>
        </a></li>
      <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
    </ul>
  </div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="active"><a href="/admin/dashbord"><i class="fas fa-tachometer-alt"></i><span class="menu-title"
            data-i18n="">Dashboard</span></a>
      </li>
      <li class=" nav-item"><a href="/admin/userlist/listing"><i class="fas fa-users"></i><span class="menu-title"
            data-i18n="">Users List</span></a>
      </li>
      <li class=" nav-item"><a href="/admin/sendemail/emailids"><i class="fas fa-envelope-open-text"></i><span class="menu-title"
            data-i18n=""> Send Email</span></a>
      </li>
      <li class=" nav-item"><a href="/admin/sendnotification/notification"><i class="fas fa-flag"></i><span class="menu-title" data-i18n="">Send
            Notification</span></a>
      </li>
      <li class=" nav-item"><a href="/admin/restaurants/list"><i class="fas fa-utensils"></i><span class="menu-title"
            data-i18n="">Restaurants</span></a>
      </li>
      <li class=" nav-item"><a href="/admin/event/list"><i class="fas fa-calendar-alt"></i><span class="menu-title"
            data-i18n="">Events</span></a>
      </li>
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class=" nav-item"><a href="#"><i class="fas fa-wine-glass"></i><span class="menu-title" data-i18n="">Drink</span></a>
        <ul class="menu-content" >
         
          <li><a class=" menu-item" href="/admin/drinkCategorie/list">Drink Category</a>
          </li>
          <li><a class=" menu-item" href="/admin/drinkSubCategorie/list">Drink SubCategory</a>
          </li>
          <li><a class=" menu-item" href="/admin/drinks/list">Drinks</a>
          </li>
          <li><a class=" menu-item" href="/admin/restaurantDrink/list"> Drinks In Restaurants</a>
          </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="/admin/setting/list"><i class="fas fa-cog"></i><span class="menu-title" data-i18n="f085">Setting</span></a>
      </li>
    </ul>
    </ul>
  </div><a
    href="https://themeselection.com/products/chameleon-admin-modern-bootstrap-webapp-dashboard-html-template-ui-kit/"
    target="_blank"></a>
  <div class="navigation-background"></div>
</div>

