<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <%- include('../_partials/header.ejs'); %>
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
   <!--nav bar-->
   <%- include('../_partials/navbar.ejs'); %>
   <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


   <!--side bar-->
   <%- include('../_partials/sidebar.ejs'); %>
   <!--side bar-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Emails</h3>
          </div>
          <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Email
                  </li>
                  
                  <li class="breadcrumb-item active">Add
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Inputs start -->
<section class="basic-inputs">
  <div class="row match-height">
      <div class="col-xl-12 col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Email</h4>
              </div>
                  <!-- sucess and failure message -->
           <div class="message">
            <% if(failure.length){ %>
            <div class="alert alert-danger">
              <strong><%= failure[0] %></strong>
            </div>
            <% } %>
            <% if(success.length){ %>
            <div class="alert alert-success" id = "success-alert">
              <strong><%= success %></strong>
            </div>
            <% } %>
          </div>
            <!-- sucess and failure message -->
              <div class="card-block">
                <div class="card-body">
                  <form   id='sendmail' method="post" action="/admin/sendemail/send">
                      <fieldset class="form-group">
                     
                        <div class="col-xl-6 "> 
                          <div class="form-group">                     
                        <label for="subject">Subject</label>
                          <input type="text" class="form-control" id="subject"name="subject"placeholder="Enter Subject"/>
                        </div>
                        </div>
                        <div class="col-xl-6 ">
                          <div class="form-group">  
                        <label for="heading">Heading</label>
                          <input type="text" class="form-control" id="heading"name="heading"placeholder="Enter mail heading text "/>
                        </div> 
                        </div>
                        <!-- Default unchecked -->
                        <div class="col-xl-6 ">
                            <div class="form-group"> 
                      <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="Users" value="Users" name="useremail">
                         <label class="custom-control-label" for="Users">Users</label>
                       </div>
  
                        <!-- Default checked -->
                         <div class="custom-control custom-radio custom-control-inline">
                     <input type="radio" class="custom-control-input" id="Cities"value="Cities" name="useremail" checked>
                           <label class="custom-control-label" for="Cities">Cities</label>
                             </div>
                            </div> 
                        </div> 
                            <div class="col-xl-6 ">
                              <div class="form-group">
                                <div class="mydiv"id="showCities" >
                                    <label for="">Select Cities</label>
                            <select class="cities" name="city"  id="city" multiple="multiple" style="width: 100%;" >
                              <% city.forEach((city)=>{ %>
                                <option value="<%=city.city%>">
                                   <%=city.city%>
                                </option>
                                <%})%>
                            </select>
                            </div>
                            </div>
                            </div>
                            <div class="col-xl-6 ">
                              <div class="form-group">
                              <div class="mydiv"id="showUsers" style="display: none;">
                                  <label for="">Users</label>
                          <select class="select2" name="email"  id="useremail" multiple="multiple" style="width: 100%;">
                                <% useremail.forEach((useremail)=>{ %>
                                  <option value="<%=useremail.id%>">
                                     <%=useremail.email%>
                                  </option>
                                  <%})%>
                          </select>
                          </div>
                          </div>
                        </div>
                        <div class="col-xl-8 ">
                          <div class="form-group">
                          <div class="entry">
                            <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
                          <label>Body:</label>
                          <div class="body">
                           <textarea name="editor1"id="editor1"></textarea>
                             <script>
                                 CKEDITOR.replace( 'editor1' );
                             </script>
                            
                          </div>
                         </div>
                        </div>
                      </div>
                       </div>
                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                         <!-- <div id="myModal" class="modal">
                          <div class="modal-content">
                              <span class="close" style="margin-left: 550px;">&times;</span>
                              <p style="color: #0ECC0B; font-style: italic">Sent  mail successfully!!</p>
                          <button  class="btn btn-primary">Ok</button>

                          </div>sss
              
                      </div> -->
                      </fieldset>
                    </form>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
      <!--footer-->
      <%- include('../_partials/footer.ejs'); %>
      <!--footer-->
 <!-- BEGIN PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
 <!-- END PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/plugins/select2/js/select2.full.min.js"></script>
   <!-- jquery-validation -->
   <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
   <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>
     <script>
  $(function () {
   $('.select2').select2({
        placeholder: "Select Users"
      }),
      $('.cities').select2({
        placeholder: "Select Cities"
      }),

    bsCustomFileInput.init();
  });

  $(function () {
$('#sendmail').validate({
   rules: {
      subject: {
         required: true
      },
      heading: {
         required: true,
      },
      city: {
         required: true,
      },
      useremail: {
         required: true,
      },
      
            },
            messages: {
               
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
               error.addClass('invalid-feedback');
               element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
               $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
               $(element).removeClass('is-invalid');
            }
         });
      });
      
  
     </script>

     <script>
      $(document).ready(function(){
    $('input[type="radio"]').click(function(){
    	var demovalue = $(this).val(); 
      console.log("====demo",demovalue)
        $("div.mydiv").hide();
        $("#show"+demovalue).show();
    });
});

var message = $('.message')
    if (message.length) {
      setTimeout(function () {
        message.fadeOut('slow')
      }, 2500)
    }


     </script>
     <!-- <script src="Scripts/jquery-3.2.1.min.js"></script>
     <script>
      $(function () {
          var modal = $("#myModal");
          $("form").submit(function(e){
              e.preventDefault(e);
              modal.show();
          });
          $(".close").click(function () {
              modal.hide();
          })

      })

  </script> -->
  <!-- <style>
      body {
          font-family: Arial, Helvetica, sans-serif;
      }
      .modal {
          display: none;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.4);
      }
      .modal-content {
          background-color: #fefefe;
          margin-top: 20%;
          margin-left: 450px;
          padding: 20px;
          border: 1px solid #888;
          width: 40%;
          height: 150px;
          text-align: center;
          border-radius: 10px;
      }
      .close {
          color: #E2663E;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }
          .close:hover,
          .close:focus {
              color: #F0420A;
              text-decoration: none;
              cursor: pointer;
          }
  </style> -->
  </body>
</html>