<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">


  <%- include('../_partials/header.ejs'); %>
<!-- DataTables -->
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
  href="<%= process.env.BASE_URL %>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">




<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

  <!-- fixed-top-->
  <!--nav bar-->
  <%- include('../_partials/navbar.ejs'); %>
  <!--nav bar-->
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!--side bar-->
  <%- include('../_partials/sidebar.ejs'); %>
  <!--side bar-->
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Drinks In Restaurant</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Drink In Restaurant
                </li>
                <li class="breadcrumb-item active">List
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic Tables start -->
        <!-- Striped rows start -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Drink In Restaurant Detail</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                  </ul>
                </div>
              </div>
               <!-- sucess and failure message -->
               <div class="message">
                <% if(failure.length){ %>
                <div class="alert alert-danger">
                  <strong><%= failure[0] %></strong>
                </div>
                <% } %>
                <% if(success.length){ %>
                <div class="alert alert-success" id = "success-alert">
                  <strong><%= success %></strong>
                </div>
                <% } %>
              </div>
                <!-- sucess and failure message -->
              <div>
                <a href="/admin/restaurantDrink/add">
                <button type="button" class="btn btn-info btn-min-width mr-1 ">
                  Add New Drink For Restaurant</button>
                  </a>
              </div>
              <div class="card-content collapse show">
                <!--table-->
                 <div class="card-body">
                <div   class="table-responsive">
                  <table id="drinkslist" class="display table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Restaurant</th>
                        <th scope="col">Drink</th>
                        <th>Action</th>

                      </tr>
                    </thead>
                    <tbody>


                    </tbody>

                    <tfoot>
							<tr>
					    
                                <th scope="col">Restaurant</th>
                                <th scope="col">Drink</th>
                                <th>Action</th>
        
                 

                    </tr>
                    </tfoot>
                  </table>
                  <!--table-->
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Striped rows end -->



      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!--footer-->
  <%- include('../_partials/footer.ejs'); %>
  <!--footer-->
  <!-- jQuery -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="<%= process.env.BASE_URL %>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="<%= process.env.BASE_URL %>/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jszip/jszip.min.js"></script>
  <!-- <script src="<%= process.env.BASE_URL %>/plugins/pdfmake/pdfmake.min.js"></script> -->
  <!-- <script src="<%= process.env.BASE_URL %>/plugins/pdfmake/vfs_fonts.js"></script> -->
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script>
        var message = $('.message')
    if(message.length){
      setTimeout(function(){
        message.fadeOut('slow')
      },2500)
    }
function confirm(event) {
      event.preventDefault();
      var uriToRedirect = event.currentTarget.getAttribute('href')

      return swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this record!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({
              url: uriToRedirect,
              type: "get",
              success: function (value) {
                if (value.success) {
                  $("#drinkslist").DataTable().ajax.reload()
                }
              }
            })
            swal("Poof! Your  record has been deleted!", {
              icon: "success",
            });

          } else {
            swal("Your record is safe!");
          }
        });

    }


    $(document).ready(function () {
      var listing = $("#drinkslist").DataTable({
        "serverSide": true,
        "processing": true,
        "ajax": {
          "url": "/admin/restaurantDrink/listing",
          "type": "get",
        
        },
        "columns": [
        {
            "data":'restaurant.name'
          },
          {
            "data":'drink.name'
          },
          {
            data: "ID",
            render: function (data, type, row) {
              var buttons = `  <a href='/admin/restaurantDrink/delete/${row.id}'
                               onclick="return confirm(event)">
                           <i class="la la-trash "></i></div></a>`;
                      
                            buttons += '&nbsp'
              buttons += `<a href="/admin/restaurantDrink/edit/${row.id}"><i class="la la-edit "></i></a>`
              return buttons
            }
          },
        ],

        success: function (res) {

          console.log("--ab", res)
        }
      });

    });
    
  </script> 
  
</body>

</html>