<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <%- include('../_partials/header.ejs'); %>
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
   <!--nav bar-->
   <%- include('../_partials/navbar.ejs'); %>
   <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


   <!--side bar-->
   <%- include('../_partials/sidebar.ejs'); %>
   <!--side bar-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Setting</h3>
          </div>
          <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Setting
                  </li>
                  
                  <li class="breadcrumb-item active">Edit
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Inputs start -->
<section class="basic-inputs"> 
  <div class="row match-height">
      <div class="col-xl-12 col-lg-6 col-md-12">
          <div class="card">
              <div class="card-block">
                <div class="card-body">
                  <form id="setting" method="post" action="/admin/setting/update/<%=setting.id%>">
                    <fieldset class="form-group">
                     
                        <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="key">Key</label>
                                <input type="text" class="form-control" id="key"
                                value="<%=setting.key%>"   name="key" disabled />
                            </div>
                        </div>


                        <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name"
                                value="<%=setting.name%>"  name="name"   />
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="value">Value</label>
                                <input type="text" class="form-control" id="value"
                                value="<%=setting.value%>"  name="value"/>
                            </div>
                        </div>
                       <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <INPUT TYPE="button" class="btn btn-primary" VALUE="Cancle" onClick="history.go(-1);">

                      </div>
                  </fieldset>
                  </form>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
      <!--footer-->
      <%- include('../_partials/footer.ejs'); %>
      <!--footer-->
 <!-- BEGIN PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
 <!-- END PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/plugins/select2/js/select2.full.min.js"></script>


  <!-- jquery-validation -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>
  <script>
    $(function () {
      $('#setting').validate({
        rules: {
          name: {
            required: true,
          },
          value: {
            required: true,
          },
        },
        messages: {

        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
  </script>

  </body>
</html>