body{
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
  }
  p{  
     font-family: 'Raleway', sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
  }
  span,button,a{
     font-family: 'Raleway', sans-serif;
  }
  ul,li{
      font-family: 'Raleway', sans-serif;
  }
  .no-padd{
      padding: 0px;
  }
  body::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: #F5F5F5;
      border-radius: 10px;
  }
  
  body::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  body::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-color: #FFF;
      background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#ef49b2), to(#ef49b2), color-stop(.6,#ef49b2));
  }
  .top-header-sec {
      padding-top: 8px;
      padding-bottom: 13px;
          position: fixed;
      left: 0;
      right: 0;
      background: #fff;
      z-index: 1;
      top:0;
      height:auto;
      box-shadow: 0px 1px 10px #8a8a8a;
  }
  .first-header-nav {
      width: 100%;
      text-align: center;
      margin: 0px;
      background:none;
      border:0px;
      float:left;
  }
  .main-menu-nav {
      width: 100%;
      text-align:center;
  }
  .main-menu-nav li {
      float: none !important;
      display: inline-block;
  }
  .company-navlist{
      padding: 0px;
      margin: 0px;
      width: 100%;
      float: left;
  }
  .company-navlist li{
      list-style: none;
        margin: 12px 0px;
  }
  .company-navlist li a{
      color: #000;
        font-size: 17px;
      padding: 0px;
  }
  
  .popup-nav-sec h2{
      color: #fff;
      margin-top: 3px;
      margin-bottom: 10px;
      font-size: 17px;
  }
  .popup-logo img {
      width: 100%;
      max-width: 157px;
      margin-left: 60px;
  
  }
  .popup-logo {
      padding: 18px;
  }
  .inn-log-btn {
      color: #fff !important;
    background:rgb(236, 117, 246);
    background: linear-gradient(to right, rgb(236, 117, 246) 0%,rgb(154, 104, 237) 100%);
      width: 137px;
      border-radius: 4px 4px;
      text-align: center !important;
      padding: 9px 0px !important;
      float: right;
      text-transform: uppercase;
      font-size: 16px !important;
      margin-top: 10px;
      text-decoration:none;
      outline:none;
  }
  .inn-log-btn:hover,.inn-log-btn:active,.inn-log-btn:focus{
      background:#000;
      text-decoration:none;
  }
  .left-side-pop {
      padding: 20px 0px;
  }
  .popup-nav-sec {
      text-align: left;
  }
  .popup-nav-sec h2 i {
      color: #000 !important;
      font-size: 29px;
      font-weight: 600;
  }
  .modal-sec-box {
      padding: 35px 5%;
      border-bottom: 1px solid #e4e4e4;
      border-top: 1px solid #e4e4e4;
  }
  .app-view-box h3 {
      text-align: left;
      color: #000;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 25px;
      float: left;
      font-style: italic;
      width: 194px;
      margin: 10px 0px 0px;
  }
  .apple-btn-pro {
  background: #fff;
      width: 118px;
      float: left;
      margin: 0px 9px;
      text-align: center;
      padding: 7px 0px !important;
      box-shadow: 0px 1px 11px 1px #e0e0e0;
      border-radius: 7px 7px;
  }
  .social-popup-icon h3 {
      font-size: 25px;
      margin: 10px 0px 0px;
      color: #000;
      font-weight: 600;
      font-style: italic;
      text-transform: uppercase;
      float: left;
      width: 211px;
      text-align: left;
  }
  
  
  .social-popup-icon a i {
      font-size: 24px;
      color: #fff;
  }
  .social-popup-icon a {
      float: left;
      text-align: center;
       background: #ec75f6; 
  background: -moz-linear-gradient(left, #ec75f6 0%, #9a68ed 100%);
  background: -webkit-linear-gradient(left, #ec75f6 0%,#9a68ed 100%);
      background: linear-gradient(to right, #445ae394 0%,#7662e9ab 100%);
      border-radius: 50% 50%;
      padding: 7px 0px !important;
      width: 40px;
      height: 40px;
      margin: 0px 6px;
  }
  .get-app-sec {
      padding: 26px 5%;
  }
  .app-view-box {
      margin-bottom: 21px;
  }
  .social-popup-icon a:hover {
      background: #445ae3;
  }
  
  
  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
  }
  .no-js #loader-wrapper {
    display: none;
  }
  
  #loader {
    display: block;
    position: relative;
    left: 0%;
    right: 0;
    top: 40%;
    width: 160px;
    height: 160px;
    margin: 0px auto;
    border-radius: 50%;
    animation-name: beat;
    -webkit-animation-name:beat;
    animation-delay: initial;
    -webkit-animation-delay:initial;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function:ease-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-animation-duration:2s;
    animation-direction: initial;
  
   /*  border: 3px solid transparent;
    border-top-color: #16a085; */
  
    z-index: 11;
  }
  .bg-loader img{
      width: 100%;
  }
  
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 10;
  }
  
  #loader-wrapper .loader-section.section-left {
    left: 0;
  }
  
  #loader-wrapper .loader-section.section-right {
    right: 0;
  }
  
  /* Loaded styles */
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
  }
  
  
  .bg-loader{
      background: #ec75f6; 
  background: -moz-linear-gradient(left, #ec75f6 0%, #9a68ed 100%);
  background: -webkit-linear-gradient(left, #ec75f6 0%,#9a68ed 100%);
  background: linear-gradient(to right, #ec75f6 0%,#9a68ed 100%);
  }
  
  
  
  
  
  
  
  /* start  css*/
  
  .logo {
      text-align: center;
      padding: 13px 0 0 0;
  }
  .logo img {
         width: 100%;
      max-width: 150px;
      margin:0px auto;
  }
  .navigation ul li {
      padding: 0 0 0 0.7%;
  }
  
  .navigation ul li a:hover {
      color: #FF40B1 !important;
  }
  .navigation {
      padding: 15px 0 0 0;
  }
  .influence-btn {
      background: #25236c;
      border: transparent;
      font-size: 16px;
      outline:none;
      margin: 5px 0 0 0;
      padding: 8px 12px 8px 12px;
      color:#fff;
  }
  .influence-btn:hover,.influence-btn:active,.influence-btn:focus {
      background: #fb42a7;
      border-color: #fb42a7;
      outline: none;
      color:#fff;
  }
  
  .main-menu-nav li a{
      font-size:17px;
      font-weight:500;
      color:#000;
  }
  .Influencer-right {
      padding: 26px 0 0 0;
  }
  .toggle-right i {
      font-size: 34px;
      color: black;
  }
  .toggle-right {
      padding: 9px 0px 6px 26px;
      position: relative;
      text-align: center;
  }
  span.top-toggle {
      font-size: 40px !important;
      color: #000;
  }
  .togle {
      text-align: center;
     }
  .toggle-right:before {
      content: "";
      position: absolute;
      left: 0;
      border-left: 1px solid #ccc;
      height: 142%;
      top: -16px;
      bottom: 0;
  }
  
  /* navgation-bar-toggle */
  
  /* .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  } */
  
  .sidenav {
      height: 0px;
      width: 100% !important;
      position: fixed;
      z-index: 1;
       top: -62px;
      left: 0;
      bottom:0;
      right: 0;
      background-color: #fff;
      overflow-x: hidden;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      padding-top: 62px;
      overflow: hidden;
  }
  
  
  
  .sidenav .closebtn {
        position: absolute;
      top: 46px;
      right: 25px;
      font-size: 82px;
      margin-left: 50px;
       color: #fc41a7;
       text-decoration:none;
  }
  .company-navlist li a:hover {
      color: #fc42a8;
      text-decoration: none;
  }
  
  /*.banner-sec-top{*/
  /*    background: #445ae3;*/
  /*}*/
  .banner-sec-top{
      background: url(../images/121212.png) !important;
      background-repeat: no-repeat !important;
      background-position: 0px 84% !important;
      background-size: 100% !important;
      height: 50vw;
      margin-top: 6.8%;
  }
  .mobile-full img {
      width: 100%;
      max-width: 63%;
      margin: 0px auto;
  }
  .mobile-full {
      text-align: center; 
      margin-top: 5%;
  }
  .slide-text {
      float: left;
      position: relative;
      margin-top: 25%;
      width: 100%;
      max-width: 477px;
  }
  .slide-text h3 {
      color: white;
      font-weight: 800;
      font-size: 35px;
  }
  .slide-text h4 {
      color: white;
      font-size: 22px;
      font-weight: 400;
      margin-top: 31px;
  }
  .slide-text ul li {
      display: inline-block;
      padding: 0 0px 0 0px;
      width: 44%;
      text-align: center;
      padding: 0px 4% 0px 0px;
  }
  .btn-lg.store {
      background: white;
      color: black;
      width: 100%;
      height: 62px;
      font-size: 18px;
      box-shadow:0px 0px;
       font-weight: 500;
       outline:none;
  }
  .btn-lg.store:hover,.btn-lg.store:active,.btn-lg.store:focus {
      background: #000;
      color: #fff;
  }
  .slide-text ul {
      padding: 16px 0 0 0px;
      margin: 0px;
      width: 100%;
      float: left;
  }
  
  .slide-text i {
      font-size: 24px;
      position: relative;
      right: 13px;
  }
  .people-pic {
      position: relative;
      left: 46px;
  }
  
  
  .slide-text img {
      width: 20%;
      position: relative;
      right: 12px;
  }
  
  /* wayt-mobile */
  .wat-mobile {
      text-align: center;
  }
  .wat-mobile img {
      width: 64%;
          max-width: 302px;
      float:right;
  }
  .hottest {
      margin-top: 16%;
  }
  .hottest h3 {
     color: black;
      font-weight: 600;
      font-size: 45px;
      margin:0px;
      position:relative;
  }
  .length-div {
       background: #c946c0;
      float: left;
      position: absolute;
      right: 0;
      top: 7px;
      height: 87%;
      background: linear-gradient(to right, #ec75f6 0%,#9a68ed 100%);
  }
  .hottest h4 {
      font-size: 29px;
      color: black;
      padding: 42px 0 0 0;
  }
  .waste-time-sec {
      background: url(../images/gray-bg.png);
          padding-top: 13%;
      padding-bottom: 27px;
  }
  .gray-bg {
      padding-bottom: 23px !important;
      padding: 95px 0 0 0;
  }
  .waste-time-sec .wat-mobile img {
      float: left;
  }
  .hottest-2bg {
      margin-top: 9%;
  }
  .hottest-2bg h3 {
     color: black;
      font-weight: 600;
      font-size: 45px;
      padding-top: 0px;
      margin:0px;
      position:relative;
  }
  .hottest-2bg h4 {
     font-size: 29px;
      color: black;
      padding: 42px 0 0 0;
  }
  /* boy-girl */
  .people-pic img {
      width: 100%;
  }
  .girl-boy {
      padding-right: 0px;
     padding-top: 99px;
  }
  .people-pic {
      padding-right: 0px;
  }
  .girl-boy-content h3 {
      color: black;
      font-weight: 600;
      font-size: 45px;
      padding-top: 0px;
      position:relative;
      margin:0px;
  }
  .girl-boy-content h4 {
     font-size: 29px;
      color: black;
      padding: 42px 0 0 0;
  }
  .gray-bottam {
      background: url(../images/gray-bottam-people.png);
     padding-bottom: 158px;
      background-repeat: no-repeat;
      background-position: 0px 16px;
      background-size: cover;
     padding-top: 196px;
  }
  .gray-bottam .wat-mobile img {
      float: left;
  }
  /* exprience-footer */
  .expirence-footer {
      background: url(../images/zqnnyK.png) !important;
          padding-bottom: 188px !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
  }
  .exp-foo h3 {
      text-align: center;
      font-weight: 800;
      color: white;
     font-size: 22px;
     letter-spacing: 3px;
      padding-top: 92px;
      padding-bottom: 32px;
          line-height: 29px;
  }
  .foo-botton {
      text-align: center;
  }
  .foo-botton ul {
      padding-left: 0;
  }
  .foo-botton ul li {
      display: inline-block;
      padding: 0 11px 0 0;
  }
  .btn-lg.store-foo {
      background: white;
      color: black;
      padding: 17px 44px 16px 44px;
  }
  .btn-lg.play-foo {
      background: white;
      color: black;
     /*  margin: 14px 0 0 0; */
      padding: 18px 37px 17px 37px;
  }
  .foo-botton i {
      font-size: 24px;
      position: relative;
      right: 13px;
  }
  .foo-botton img {
      width: 20%;
      position: relative;
      right: 12px;
  }
  .foo-menu ul li {
      display: inline-block;
      padding: 0 27px 0 9px;
      list-style: circle;
  }
  .foo-menu {
      text-align: center;
      padding: 61px 0 0px 0;
  }
  .foo-menu ul li a {
      color: #959899;
      font-weight: 500;
      text-decoration: none;
      font-size: 16px;
  
  }
  .footer-logo img {
      width: 72%;
  }
  .footer-logo {
      text-align: center;
  }
  .foo-botom-footer {
      padding: 0 0 20px 0px;
  }
  .foo-menu li span {
      width: 4px;
      height: 4px;
      background: #7b797952;
      float: left;
      border-radius: 50% 50%;
      position: relative;
      left: 0;
      top: 8px;
      margin-right: 25px;
  }
  .foo-menu ul li a:hover {
      color: #fb43a7;
      font-weight: 500;
  }
  
  .col-md-5.foo-menu ul {
      padding-left: 0;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  @keyframes beat{
      from{
      transform: scale(0.9);
      }
      to{
      transform: scale(1.1);
      }
  }
  @-webkit-keyframes beat {
    from {
      -webkit-transform:scale(0.9);
    }
  
    to {
      -webkit-transform:scale(1.1);
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* slider css */
  
  
  .w-embed.bod {
     
  border-radius: 9px 9px;
      padding: 3px 0 1px 21px;
      bottom: 0;
      transform: skewX(15deg);
      -webkit-transform:skewX(15deg);
  
  }
  .w-embed.bod h3 {
      color: black;
          text-transform: capitalize;
      font-weight: 600;
  }
  
  .w-embed.bod a {
      text-decoration: none;
  }
  .w-embed.bod a:hover h3{
      color: #ef87f7;
  }
  
  .slide {
    visibility: hidden;
    margin: 0 0;
  }
  .slide.active {
    visibility: visible;
    opacity: 1;
  }
  .feedback-slider-nav-dot-anim.active {
    width: 100%;
  }
  .hottest-club-sec {
      padding-top: 0%;
  }
  .nowrap {
    white-space: nowrap;
  }
  
  .section-feedback {
    position: relative;
    /* background-color: #666475; */
  }
  
  .feedback-slider {
    position: relative;
    height: 550px;
  }
  
  .slide {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    max-height: 550px;
    min-height: 550px;
    margin-bottom: 0px;
    /* background-color: #666475; */
    opacity: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    display:-webkit-box;
    visibility:visible;
  }
  
  .slide-content-wrapper {
    position: absolute;
    top: 28%;
    right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; 
    max-width: 548px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  
  .slide-text-wrapper {
      max-width: 531px;
      padding-right: 14px;
      border-radius: 14px 17px !important;
      transform: skewX(-11deg);
      -webkit-transform: skewX(-11deg);
      -webkit-box-shadow:0 0 18px 2px rgba(193, 193, 193, 0.6196078431372549);
      box-shadow: 0 0 18px 2px #c1c1c19e;
      padding-left: 60px;
      padding-top: 15px;
      padding-bottom: 15px;
      width:100%;
      background:#fff;
  }
  .slide-text-wrapper:before {
      content: "";
      position: absolute;
      left: -42px;
      width: 63px;
      background: #ec75f5;
      height: 3px;
      top: 53px;
  }
  .slide-text-wrapper:after {
      content: "";
      position: absolute;
      left: -73px;
      width: 109px;
      background: #ec75f5;
      height: 3px;
      top: 77px;
  }
  
  .slide-content-wrapper:before {
      content: "";
      position: absolute;
      right: -4px;
      width: 94%;
      height: 100%;
      background: rgba(230, 230, 230, 0.8);
      z-index: -1;
      border-radius: 14px 17px;
      transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      top: 29px;
      box-shadow: 6px 4px 9px rgba(206, 206, 206, 0.8117647058823529);
  }
  
  .feedback-text {
    margin-bottom: 40px;
    padding: 0px;
    border-left: 0px none transparent;
        color: #000;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-style: italic;
    font-weight: 400;
  }
  
  .feedback-name {
    color: #25b8cc;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  
  .feedback-job {
    font-family: "Brandon Grotesque", sans-serif;
    color: hsla(0, 0%, 100%, 0.4);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .feedback-image-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
   /*  overflow: hidden; */
    width: 58.33333333%;
   /*  background-color: #25b8cc; */
    -webkit-transform: skew(-9deg, 0deg);
    -ms-transform: skew(-9deg, 0deg);
    transform: skew(-9deg, 0deg);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  
  .feedback-image-wrapper-mobile {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: none;
    overflow: hidden;
    width: 60%;
    /*background-color: #25b8cc;*/
    -webkit-transform: skew(-9deg, 0deg);
    -ms-transform: skew(-9deg, 0deg);
    transform: skew(-9deg, 0deg);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  
  .feedback-slider-nav {
    position: static;
    left: 0%;
    right: 0%;
    bottom: 0px;
    display: block;
    max-width: 1230px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-left: 0px;
    font-size: 0rem;
    line-height: 0rem;
    text-align: center;
  }
  
  .feedback-slider-nav-dot-wrapper {
    display: inline-block;
    padding: 40px 5px;
    cursor: pointer;
  }
  
  .feedback-slider-nav-wrapper {
      position: absolute;
      right: 0;
      bottom: 100px;
      text-align: center;
      width: 100%;
      max-width: 615px;
      margin: 0px auto;
  }
  
  .feedback-slider-nav-dot {
    overflow: hidden;
   width: 75px;
      height: 3px;
       background-color: rgba(226, 226, 226, 0.9882352941176471);
    -webkit-transition: background-color 200ms
      cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: background-color 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  
  .feedback-image-bg {
    height: 100%;
    background-image: url("../images/Sasha25.jpg");
      background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: skew(9deg, 0deg);
    -ms-transform: skew(9deg, 0deg);
    transform: skew(9deg, 0deg);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
        width: 54%;
      position: relative;
     margin-top: 0%;
         border-radius: 50% 50%;
      height: 367px;
  }
  
  .feedback-image-bg-2 {
    height: 100%;
    background-image: url("../images/David24.jpg");
      background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: skew(9deg, 0deg);
    -ms-transform: skew(9deg, 0deg);
    transform: skew(9deg, 0deg);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
      width: 54%;
      position: relative;
      margin-top: 0%;
      border-radius: 50% 50%;
      height: 367px;
  }
  
  .feedback-image-bg-3 {
    height: 100%;
    background-image: url("../images/Andrea21.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: skew(9deg, 0deg);
    -ms-transform: skew(9deg, 0deg);
    transform: skew(9deg, 0deg);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
        width: 54%;
      position: relative;
      margin-top: 0%;
      border-radius: 50% 50%;
      height: 367px;
  }
  
  .feedback-image-bg-4 {
    height: 100%;
    background-image: url("../images/Alejandro22.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: skew(9deg, 0deg);
    -ms-transform: skew(9deg, 0deg);
    transform: skew(9deg, 0deg);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
        width: 54%;
      position: relative;
      margin-top: 0%;
      border-radius: 50% 50%;
      height: 367px;
  }
  
  .feedback-slider-nav-dot-anim {
    width: 0%;
    height: 100%;
    background-color: #7662e9;
  }
  .box {
      width: 207px;
      opacity: 0.7;
      display: block;
      position: absolute;
      bottom: 20px;
    
  }
  .flask {
    width: 125px;
    height: 275px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: 356px;
    background: red;
  }
  .flask .inner-flask {
    position: relative;
    width: 100%;
    height: 135px;
    margin-top: 140px;
    display: block;
    background: blue;
  }
  .flask .inner-flask .bubble {
    width: 10px;
    height: 10px;
    display: block;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 50%;
  }
  .flask .inner-flask .medium {
    background: purple;
    width: 15px;
    height: 15px;
  }
  .flask .inner-flask .large {
    background: pink;
  }
  
  .flask.second {
    position: absolute;
    top: -110px;
    right: 34px;
    left: auto;
    background: transparent;
  }
  .flask.second .inner-flask {
    background: transparent;
  }
  .flask.second .inner-flask .bubble {
    background: #fff;
    margin-left: 10px;
    top: 15px;
  }
  .flask.second .inner-flask .bubble .medium {
    width: 15px;
    height: 15px;
  }
  .btn-lg.store-foo:hover,.btn-lg.store-foo:active,.btn-lg.store-foo:focus {
      background: #000 !important;
      color: #fff;
      outline: none;
  }
  .foo-menu .copy-touch a {
      color: #00c4ff;
  }
  .foo-menu .copy-touch {
      position: relative;
      margin-top: 25px;
      float: right;
      margin-right: 14px;
  }
  .animate-box-side {
      position: fixed;
      right: -94%;
      top: 0;
      background: #fff;
      width: 94%;
      padding: 0px;
      box-shadow: 0px 0px 10px #827e7e;
          overflow-y: scroll;
      height: 645px;
          z-index: 1;
  
  }
  .animate-box-side::-webkit-scrollbar-track
      {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: #F5F5F5;
  }
  
  .animate-box-side::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  .animate-box-side::-webkit-scrollbar-thumb
  {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: rgb(239, 73, 178);
      border: 2px solid rgb(239, 73, 178);
  }
  .content-privacy {
      width:100%;
      float:left;
      padding: 12px 20px;
      padding-bottom:30px;
  }
  .content-privacy h2 {
      font-size: 26px;
      margin: 0px;
      margin-bottom: 24px;
      font-weight: 600;
      text-transform: uppercase;
      width: 100%;
      float: left;
      border-bottom: 1px solid #e2deded9;
      padding-bottom: 15px;
  }
  .content-privacy h4 {
      font-size: 22px;
      font-weight: 600;
      text-transform: capitalize;
      width: 100%;
      float: left;
      margin-top: 0px;
  }
  .content-privacy p {
      width: 100%;
      float: left;
      font-size: 18px;
      margin-bottom: 8px;
      margin-top: 4px;
  }
  .content-privacy ul {
      width: 100%;
      float: left;
      padding: 0px 0px;
      margin: 0px 0px 20px;
  }
  .content-privacy ul li {
      font-size: 16px;
      width:100%;
      margin: 4px 0px;
      list-style:none;
  }
  .content-privacy ul li i{
      font-size:18px;
      color:#fb45ac;
      margin-right:10px;
  }
  .close-tb {
      border: 1px solid #000;
      font-size: 17px;
      border-radius: 50% 50%;
      padding: 5px;
      color: #000 !important;
      width: 30px;
      height: 31px;
      float: right;
      text-align: center;
      position: relative;
      top: 0px;
      text-decoration:none !important;
  }
  .close-tb:hover,.close-tb:active,.close-tb:focus{
      background:#000;
      color:#fff !important;
  }
  
  .terms-content {
      width: 100%;
      float: left;
      padding:14px 20px;
      display:none;
      padding-bottom:30px;
  }
  
  .terms-content h2 {
      width: 100%;
      float: left;
      border-bottom: 1px solid rgb(232, 232, 232);
      padding-bottom: 12px;
      margin-bottom: 21px;
      text-transform: uppercase;
      font-weight: 600;
          margin-top: 4px;
  }
  .terms-content p {
     font-size: 15px;
      line-height: 1.9;
      font-family: 'Montserrat', sans-serif;
          margin-bottom: 20px;
  }
  .terms-content h4 {
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      text-transform: capitalize;
      font-size: 24px;
      margin-bottom: 11px;
  }
  .terms-content a {
      color: #e546ab;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
  }
  .wat-mobile video {
      max-width: 268px;
      float: left;
      height: auto;
      margin-top: 13%;
  }
  
  .contact-popup {
      position: fixed;
      right: -57%;
      top: 0;
      background: #fff;
      overflow-y: scroll;
      float: left;
      width: 55%;
      height:640px;
      z-index:1;
      box-shadow:-2px -2px 11px #969696;
  }
  .contact-popup::-webkit-scrollbar-track
      {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: #F5F5F5;
  }
  
  .contact-popup::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  .contact-popup::-webkit-scrollbar-thumb
  {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: #ef49b2;
      border: 2px solid #ef49b2;
  }
  .show-content {
      padding: 14px 25px;
      width: 100%;
      float: left;
      padding-bottom: 40px;
  }
  .show-content h2 {
      width: 100%;
      float: left;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 4px;
      margin-bottom: 22px;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 15px;
      font-family: 'Montserrat', sans-serif;
  }
  .show-content p {
      width: 100%;
      float: left;
      font-size: 19px;
      color: #000;
      margin-bottom: 0px;
      font-family: 'Montserrat', sans-serif;
  }
  .cont-close {
      float: right;
      font-size: 19px;
      color: #000 !important;
      border: 1px solid #000;
      border-radius: 50% 50%;
      padding: 5px 0px;
      height: 34px;
      width: 34px;
      text-decoration:none;
      text-align: center;
  }
  .show-content h4 {
      width: 100%;
      float: left;
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 0px;
      margin-top: 34px;
      margin-bottom: 5px;
      font-family: 'Montserrat', sans-serif;
  }
  .show-content a {
      color: #fc42a8;
      font-family: 'Montserrat', sans-serif;
  }
  .active{
      color: #FF40B1 !important;
  }
  .about-content-mt h2 {
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 1px solid rgb(236, 236, 236);
      padding-bottom: 9px;
      margin-bottom: 22px;
      margin-top: 9px;
  }
  .about-content-mt {
      padding: 0px 21px;
      padding-bottom:30px;
  }
  .about-content-mt p {
      font-size: 15px;
      line-height: 1.6;
      font-weight: 500;
  }
  .right-img-about img {
      width: 93%;
      float: right;
      border: 1px solid #e2e2e2;
      padding: 10px;
  }
  .right-img-about {
      margin-top: 50px;
  }
  
  
  
   /*@media (min-width: 768px) and (max-width: 1230px) {*/
   /* .feedback-slider-nav {*/
   /* padding-right: calc(20.83333333% - 80px); */
   /* }*/
   /*}*/
   
   /* @media (min-width: 1231px) {*/
   /* .feedback-slider-nav {*/
   /* padding-right: 176.25px; */
   /* }*/
   /*}*/
  
  figure {
    margin: 0;
    margin-bottom: 10px;
  }
    
    figure.slide {
      margin: 0 0;
    }
  
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: inherit !important;
  }
  .w-hidden-small {
    display: inherit !important;
  }
  .w-hidden-tiny {
    display: none !important;
  }
  .w-embed:before,
  .w-embed:after {
    content: " ";
    display: table;
  }
  .w-embed:after {
    clear: both;
  }
  .wp-active{
      width:100%;
      visibility:visible !important;
  }
  
  
    .slideanim {visibility:hidden;}
    .plide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1.0s;
        -webkit-animation-duration: 1.0s;
        visibility: visible;
    }
    .plide2 {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1.3s;
        -webkit-animation-duration: 1.3s;
        visibility: visible;
    }
    @keyframes slide {
      0% {
          width:100%;
      } 
      100% {
          width:0%;
      }
    }
    
  @-webkit-keyframes slide {
    from {
     width:100%;
    }
  
    to {
     width:0%;
    }
  }
  
  
  
  
  
  
  
  
  
  /*@media (max-width: 991px) {*/
  /*  .feedback-image-bg {*/
  /*    background-position: 15% 50%;*/
  /*  }*/
  /*  .feedback-image-bg-2 {*/
  /*    background-position: 50% 50%;*/
  /*  }*/
  /*  .feedback-image-bg-3 {*/
  /*    background-position: 50% 50%;*/
  /*  }*/
  /*  .feedback-image-bg-4 {*/
  /*    background-position: 50% 50%;*/
  /*  }*/
  /*}*/
  
  /*@media (max-width: 767px) {*/
  /*  .feedback-slider {*/
  /*    height: 570px;*/
  /*  }*/
  /*  .slide {*/
  /*    max-height: 570px;*/
  /*    min-height: 570px;*/
  /*  }*/
  /*  .slide-content-wrapper {*/
  /*    position: static;*/
  /*    display: block;*/
  /*    padding-top: 40px;*/
  /*    padding-right: 7.5px;*/
  /*    padding-left: 7.5px;*/
  /*    -webkit-transform: none;*/
  /*    -ms-transform: none;*/
  /*    transform: none;*/
  /*  }*/
  /*  .slide-text-wrapper {*/
  /*    max-width: 100%;*/
  /*    padding-right: 7.5px;*/
  /*    padding-left: 7.5px;*/
  /*  }*/
  /*  .feedback-text {*/
  /*    max-width: 800px;*/
  /*    margin-bottom: 30px;*/
  /*    font-size: 1.25rem;*/
  /*    line-height: 1.875rem;*/
  /*  }*/
  /*  .feedback-image-wrapper {*/
  /*    display: none;*/
  /*    width: 100%;*/
  /*    background-color: transparent;*/
  /*    -webkit-transform: skew(0deg, -4deg);*/
  /*    -ms-transform: skew(0deg, -4deg);*/
  /*    transform: skew(0deg, -4deg);*/
  /*    -webkit-transform-origin: 0% 0%;*/
  /*    -ms-transform-origin: 0% 0%;*/
  /*    transform-origin: 0% 0%;*/
  /*  }*/
  /*  .feedback-image-bg {*/
  /*    background-position: 50% 50%;*/
  /*    -webkit-transform: skew(0deg, 10deg);*/
  /*    -ms-transform: skew(0deg, 10deg);*/
  /*    transform: skew(0deg, 10deg);*/
  /*    -webkit-transform-origin: 0% 0%;*/
  /*    -ms-transform-origin: 0% 0%;*/
  /*    transform-origin: 0% 0%;*/
  /*  }*/
  /*  .feedback-image-wrapper-mobile {*/
  /*    position: static;*/
  /*    left: 0px;*/
  /*    top: 0px;*/
  /*    right: 0px;*/
  /*    bottom: auto;*/
  /*    display: block;*/
  /*    width: 100%;*/
  /*    height: 250px;*/
  /*    background-color: transparent;*/
  /*    -webkit-transform: skew(0deg, -10deg);*/
  /*    -ms-transform: skew(0deg, -10deg);*/
  /*    transform: skew(0deg, -10deg);*/
  /*    -webkit-transform-origin: 0% 0%;*/
  /*    -ms-transform-origin: 0% 0%;*/
  /*    transform-origin: 0% 0%;*/
  /*  }*/
  /*  .feedback-slider-nav {*/
  /*    text-align: center;*/
  /*  }*/
  /*  .feedback-slider-nav-dot-wrapper {*/
  /*    padding-top: 30px;*/
  /*    padding-bottom: 30px;*/
  /*  }*/
  /*  .feedback-image-bg-2 {*/
  /*    background-position: 50% 50%;*/
  /*    -webkit-transform: skew(0deg, 10deg);*/
  /*    -ms-transform: skew(0deg, 10deg);*/
  /*    transform: skew(0deg, 10deg);*/
  /*    -webkit-transform-origin: 0% 0%;*/
  /*    -ms-transform-origin: 0% 0%;*/
  /*    transform-origin: 0% 0%;*/
  /*  }*/
  /*  .feedback-image-bg-3 {*/
  /*    background-position: 50% 50%;*/
  /*    -webkit-transform: skew(0deg, 10deg);*/
  /*    -ms-transform: skew(0deg, 10deg);*/
  /*    transform: skew(0deg, 10deg);*/
  /*    -webkit-transform-origin: 0% 0%;*/
  /*    -ms-transform-origin: 0% 0%;*/
  /*    transform-origin: 0% 0%;*/
  /*  }*/
  /*  .feedback-image-bg-4 {*/
  /*    background-position: 50% 50%;*/
  /*    -webkit-transform: skew(0deg, 10deg);*/
  /*    -ms-transform: skew(0deg, 10deg);*/
  /*    transform: skew(0deg, 10deg);*/
  /*    -webkit-transform-origin: 0% 0%;*/
  /*    -ms-transform-origin: 0% 0%;*/
  /*    transform-origin: 0% 0%;*/
  /*  }*/
  /*  .navigation ul li {*/
  /*    padding: 0 0 0 0px;*/
  /*}*/
  /*.main-menu-nav li a {*/
  /*    font-size: 11px;*/
  /*    padding: 16px 6px;*/
  /*}*/
  /*}*/
  /*@media (max-width: 479px) {*/
  /*  .feedback-text {*/
  /*    margin-bottom: 30px;*/
  /*    font-size: 1.125rem;*/
  /*    line-height: 1.6875rem;*/
  /*  }*/
  /*  .feedback-image-wrapper-mobile {*/
  /*    height: 200px;*/
  /*  }*/
  /*  .feedback-slider-nav-dot {*/
  /*    height: 3px;*/
  /*  }*/
  /*  .icon {*/
  /*    margin-right: 0px;*/
  /*  }*/
  
  /*}*/
  
  
      
  @media only screen and (max-width : 840px) {
  .banner-sec-top {
      height: auto;
  }
  .slide-text-wrapper:before,.slide-text-wrapper:after{
      display:none;
  }
  .feedback-image-bg,.feedback-image-bg-2,.feedback-image-bg-3,.feedback-image-bg-4{
         height: 246px;
      margin-top: 12%;
      margin-left: 3%;
  }
  }
      
  @media only screen and (max-width : 780px) {
  .navigation ul li {
      padding: 0 0 0 0px;
  }
  .main-menu-nav li a {
      font-size: 11px;
      padding: 16px 6px;
  }
  .first-header-nav {
      width: 100%;
  }
  .slide-text {
      float: right;
      position: relative;
      top: 9px;
      right: 0px;
      text-align:center;
          margin-top: 2%;
  }
  
  .slide-text ul {
      padding: 12px 0 0 0px;
  }
  
  .slide-text-wrapper {
       max-width: 385px;
      padding-left: 30px;
  }
  .slide-text ul li {
      padding: 0 8px 0 0px;
  }
  .slide-content-wrapper:before {
      content: "";
      width: 73%;
  }
  .hottest h3 {
      font-size: 30px;
      padding-top: 0px;
  }
  .hottest h4 {
      font-size: 21px;
  }
  .hottest-2bg h3 {
      font-size: 28px;
      padding-top: 0px;
  }
  .girl-boy-content h3 {
      font-size: 28px;
  }
  .hottest-2bg h4 {
      font-size: 20px;
  }
  .girl-boy-content h4 {
      font-size: 24px;
  }
  .footer-logo img {
      width: 20%;
  }
  .people-pic {
      position: relative;
      left: 0px;
  }
  .box{
      display:none;
  }
  .popup-nav-sec h2 i {
      font-size: 22px;
  }
  .company-navlist li a {
      color: #000;
      font-size: 14px;
  }
  .company-navlist li {
      list-style: none;
      margin: 5px 0px;
  }
  .app-view-box h3 {
      font-size: 16px;
          width: 124px;
  }
  .social-popup-icon h3 {
      font-size: 18px;
      width: 126px;
  }
  .feedback-slider-nav-wrapper {
      max-width: 418px;
  }
  .wat-mobile video {
      max-width: 205px;
      float: none;
      margin: 18% auto 0px;
  }
  .fixed-mob-img {
      float: none;
      margin: 0px auto;
  }
  }
  
  
  
  
  
      @media only screen and (max-width : 650px) {
  
  .people-pic {
      position: relative;
      left: 0px;
  }
  
  .mobile-full img {
      width: 35%;
      padding: 51px 0 0 2px;
  }
  .girl-boy-content {
      margin-top: 28px;
  }
  .slide-text {
      float: right;
      position: relative;
     top: 0px;
      right: 0px;
      margin-top:25%;
  }
  .girl-boy {
      padding-right: 0px;
      padding-top: 0px;
      padding:0px;
  }
  
  .btn-lg.store-foo {
      background: white;
      color: black;
      padding: 17px 44px 16px 44px;
      margin: 0 0 13px 0;
  }
  
  .slide-text h3 {
      color: white;
      font-weight: 800;
      font-size: 27px;
  }
  .slide-text h4 {
      color: white;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 10px;
  }
  
  .hottest h3 {
      color: black;
      font-weight: 800;
      font-size: 29px;
      padding-top: 0px;
  }
  
  .hottest h4 {
      font-size: 19px;
      color: black;
      padding: 42px 0 43px 0;
  }
  
  /*.hottest-2bg h3 {*/
  /*    color: black;*/
  /*    font-weight: 800;*/
  /*    font-size: 27px;*/
  /*    padding-top: 80px;*/
  /*}*/
  
  .hottest-2bg h4 {
      font-size: 18px;
      color: black;
      padding: 42px 0 0 0;
  }
  .girl-boy-content h3 {
      font-size: 23px;
      color: black;
      font-weight: 800;
  }
  .girl-boy-content h4 {
      font-size: 18px;
      padding-top: 23px;
      color: black;
  }
  
  
  /* top header */
  
  .navigation button {
      background: #25236c;
      border: transparent;
      font-size: 11px;
      margin: 15px 0 0 7px;
      padding: 8px 12px 8px 12px;
      
  }
  
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border:0px !important;
      position: relative;
      padding:0px;
      top: 15px;
      text-align: center;
  }
  /* .col-md-1.col-sm-1.togle {
      position: relative;
      bottom: 39px;
          float: right;
  } */
  
  .toggle-right {
      border-left: 0;
      padding: 0px 0px;
          position: relative;
  }
  .togle {
      position: absolute;
      top: 13px;
      left: 0;
      width: 100%;
      max-width: 75px;
  }
  span.top-toggle {
      font-size: 40px !important;
      color: #000;
  }
  .popup-logo img {
       margin-left: 0px;
           max-width: 120px;
  }
  .sidenav .closebtn {
      top: 9%;
      right: 3px;
      font-size: 55px;
      z-index: 1;
  }
  
  .foo-menu ul li {
      display: inline-block;
      padding: 0 0px 0 0px;
      list-style: circle;
  }
  
  .foo-menu {
      text-align: center;
      padding: 30px 0 30px 0;
  }
  
  .expirence-footer {
      background: url(../images/zqnnyK.png) !important;
      padding-bottom: 188px !important;
      /* background-repeat: no-repeat !important; */
      background-position: center !important;
      background-size: initial !important;
  }
  
  .w-embed.bod h3 {
      font-size: 16px;
      margin-top:0px;
  }
  .feedback-text {
      color: #000;
      font-size: 0.8rem;
      margin:0px;
      line-height: 1.9;
  }
  .slide-text-wrapper:before,.slide-text-wrapper:after{
      display:none;
  }
  .slide-content-wrapper:before{
      display:none;
  }
  .slide-text-wrapper {
      transform: skewX(0deg);
  }
  .w-embed.bod{
      transform: skewX(0deg);
  }
  .btn-lg.store {
      font-size: 11px;
          height: 41px;
  }
  .slide-text i {
      font-size: 16px;
      position: relative;
      right: 12px;
      top: 2px;
  }
  .hottest-club-sec {
      padding-top: 0%;
      text-align: center;
  }
  .hottest h3 {
  
      font-size: 23px;
  }
  .wat-mobile img {
      width: 67%;
      margin: 0px auto;
      float:none !important;
  }
  .hottest-2bg h3 {
      font-size: 23px;
  }
  
  .slide-content-wrapper {
      padding:0px !important;
      right: 0 !important;
  }
  .hottest-2bg,.girl-boy-content {
      text-align: center;
  }
  .banner-sec-top {
      background-size: inherit !important;
      background-position: 0% !important;
      height: 100vh;
  }
  .inn-log-btn {
      width: 99px;
      padding: 9px 0px !important;
      font-size: 16px !important;
  }
  .popup-nav-sec h2 i {
      font-size: 14px;
  }
  .company-navlist li a {
      color: #000;
      font-size: 11px;
  }
  .get-app-sec {
      padding: 1px 0%;
  }
  .modal-sec-box {
      padding: 6px 5%;
  }
  .apple-btn-pro {
      width: 67px;
      margin: 0px 2px;
      padding: 4px 0px !important;
  }
  .toggle-right i {
      font-size: 25px;
  }
  .apple-btn-pro img {
      width: 27px;
  }
  .social-popup-icon h3 {
      font-size: 14px;
          width: 100%;
          margin-bottom:8px;
  }
  .social-popup-icon a {
      padding: 3px 0px !important;
      width: 25px;
      height: 25px;
      margin: 0px 3px;
  }
  .social-popup-icon a i {
      font-size: 13px;
  }
  .popup-nav-sec h2 {
      margin-bottom: 0px;
  }
  .toggle-right:before{
      display:none;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #ec75f6;
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background: none !important;
  }
  .first-header-nav .navbar-toggle {
      background: none !important;
      border: 0px;
  }
  .logo a{
      position:relative;
      z-index:1;
  }
  .first-header-nav{
      margin-top:-73px;
  }
  .main-menu-nav li{
      width: 100%;
  }
  .main-menu-nav {
      margin: 0px;
  }
  .main-menu-nav li a {
      padding: 10px 0px;
  }
  .app-view-box h3 {
      font-size: 16px;
      width: 100%;
      margin-bottom: 7px;
  }
  .feedback-slider-nav-dot {
      width: 47px;
  }
  .slide-content-wrapper {
  
      max-width: 224px;
  }
  .slide-text-wrapper {
      padding-left: 1px;
  }
  .length-div {
      top: 3px;
      height: 95%;
  }
  .feedback-image-bg, .feedback-image-bg-2, .feedback-image-bg-3, .feedback-image-bg-4 {
      height: 125px;
      margin-top: 46%;
      margin-left: 2%;
      width: 125px
  }
  .wat-mobile video {
      max-width: 192px;
  }
  .foo-menu .copy-touch {
      margin-right: 0px;
      text-align: center;
      width: 100%;
  }
      }
      
      
  @media only screen and (max-width: 325px){
  .wat-mobile video {
      max-width: 170px;
  }
  .feedback-text {
      color: #000;
      font-size: 0.5rem;
      margin: 0px;
      line-height: 1.9;
  }
  .slide-content-wrapper {
      max-width: 192px;
  }
  .feedback-image-bg, .feedback-image-bg-2, .feedback-image-bg-3, .feedback-image-bg-4 {
      height: 101px;
      margin-top: 60%;
      margin-left: 2%;
      width: 101px;
  }
  }
      