<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <%- include('../_partials/header.ejs'); %>
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
   <!--nav bar-->
   <%- include('../_partials/navbar.ejs'); %>
   <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


   <!--side bar-->
   <%- include('../_partials/sidebar.ejs'); %>
   <!--side bar-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Send Notification</h3>
          </div>
          <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Send Notification
                  </li>
                  
                  <li class="breadcrumb-item active">Add
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
         
        <div class="content-body"><!-- Basic Inputs start -->
<section class="basic-inputs">
  <div class="row match-height">
      <div class="col-xl-12 col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Send Notification</h4>
              </div>
                <!-- sucess and failure message -->
           <div class="message">
            <% if(failure.length){ %>
            <div class="alert alert-danger">
              <strong><%= failure[0] %></strong>
            </div>
            <% } %>
            <% if(success.length){ %>
            <div class="alert alert-success" id = "success-alert">
              <strong><%= success %></strong>
            </div>
            <% } %>
          </div>
            <!-- sucess and failure message -->
              <div class="card-block">
                <div class="card-body">
                  <form id='sendmail' method="POST" action="/admin/sendnotification/senNotification" >
                      <fieldset class="form-group">
                     
                        <div class="col-xl-6 "> 
                          <div class="form-group">                     
                        <label for="Title">Title</label>
                          <input type="text" class="form-control" id="Title"name="Title"placeholder="Enter Subject"/>
                        </div>
                        </div>
                        <div class="col-xl-6 ">
                          <div class="form-group">  
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="5" name="message" required=""></textarea>
                        </div> 
                        </div>
                        <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="city">Select City</label>
                                <select class="select2" name="city" id="city" multiple="multiple" style="width: 100%;">
                                  <% city.forEach((city)=>{ %>
                                    <option value="<%=city.city%>">
                                       <%=city.city%>
                                    </option>
                                    <%})%>
                                   
                            </select>
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                        <div class="form-group">
                            <input type="checkbox" class="checkbox" name="deviceType" value="IOS"><span>  Send notification to ios users</span><br>
                            <input  type="checkbox" class="checkbox" name="deviceType" value="ANDROID"><span>  Send notification to android users</span>
                            
                       </div>
                       </div>
                        </div>
                       </div>
                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </fieldset>
                    </form>
                    </div>
              </div>
          </div>    
      </div>
  </div>
</section>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
      <!--footer-->
      <%- include('../_partials/footer.ejs'); %>
      <!--footer-->
 <!-- BEGIN PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
 <!-- END PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/plugins/select2/js/select2.full.min.js"></script>
   <!-- jquery-validation -->
   <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
   <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>
     <script>
  $(function () {
  $('.select2').select2({
       placeholder: "Select City"
     })

 });
 var message = $('.message')
    if (message.length) {
      setTimeout(function () {
        message.fadeOut('slow')
      }, 2500)
    }
     </script>

     <script>

     </script>
     
  </body>
</html>