<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<%- include('../_partials/header.ejs'); %>
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

  <!-- fixed-top-->
  <!--nav bar-->
  <%- include('../_partials/navbar.ejs'); %>
  <!--nav bar-->

  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!--side bar-->
  <%- include('../_partials/sidebar.ejs'); %>
  <!--side bar-->

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Drinks</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Drinks
                </li>

                <li class="breadcrumb-item active">Add
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic Inputs start -->
        <section class="basic-inputs">
          <div class="row match-height">
            <div class="col-xl-12 col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Add New Drink</h4>
                </div>
                <div class="card-block">
                  <div class="card-body">
                    <form id="drinks" method="POST" action="/admin/drinks/save" enctype="multipart/form-data">
                      <fieldset class="form-group">
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" name="name" pattern="\S(.*\S)?"
                                placeholder="Drink Name" />
                            </div>
                          </div>

                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="types"> Drink Sub-Categorie</label>
                              <select name="typess" class="form-control" id="typess">
                                <option selected="" disabled>Select Drink Sub-Categorie </option>
                                <% types.forEach((types)=>{ %>
                                  <optgroup label="<%=types.name%> "> 
                                <% types.subCategory.forEach((typess)=>{ %>
                                  <option value="<%=typess.id%>">
                                    <%=typess.name%> 
                                  </option>
                                <%})%>

                                </optgroup>
                                  
                                
                                <%})%>
                              </select>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="price">Price</label>
                              <input type="number" class="form-control" id="price" name="price" placeholder="Price" />
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="image">Image</label>
                              <div class="custom-file">
                                <div class="input-group">
                                  <input type="file" id="image" name="image" class="custom-file-input"
                                    accept="image/png,image/jpeg">
                                  <label class=" custom-file-label" for="image">Choose Image</label>
                                </div>
                              </div>
                            </div>
                          </div>

                         
                        </div>

                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="details">Details</label>
                              <input type="text" class="form-control" id="details" name="details" placeholder="Details"
                                pattern="\S(.*\S)?" />
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="status">Status</label>
                              <select name="status" class="form-control custom-select" id="status">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!--footer-->
  <%- include('../_partials/footer.ejs'); %>
  <!--footer-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript">
  </script>
  <!-- END PAGE LEVEL JS-->
  <script src="<%= process.env.BASE_URL %>/plugins/select2/js/select2.full.min.js"></script>
  <!-- jquery-validation -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>

  <script>
    $(function () {
      $('.select2').select2({
          placeholder: "Select Days"
        }),

        bsCustomFileInput.init();
    });

    $(function () {
      $('#drinks').validate({
        rules: {
          typess: {
            required: false,
          },
          image: {
            required: true,
          },
          name: {
            required: true,
          },
          details: {
            required: true,
          },
          price: {
            required: true,
          },

        },
        messages: {

        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
  </script>
</body>

</html>