<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<%- include('../_partials/header.ejs'); %>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
    data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
    <!--nav bar-->
    <%- include('../_partials/navbar.ejs'); %>
    <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <!--side bar-->
    <%- include('../_partials/sidebar.ejs'); %>
    <!--side bar-->

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">Drink Category</h3>
                </div>
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active">Drink Category
                                </li>

                                <li class="breadcrumb-item active">Add
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic Inputs start -->
                <section class="basic-inputs">
                    <div class="row match-height">
                        <div class="col-xl-12 col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Add New Drink Category</h4>
                                </div>

                                   <!-- sucess and failure message -->
              <div class="message">
                <% if(failure.length){ %>
                <div class="alert alert-danger">
                  <strong><%= failure[0] %></strong>
                </div>
                <% } %>
                <% if(success.length){ %>
                <div class="alert alert-success" id = "success-alert">
                  <strong><%= success %></strong>
                </div>
                <% } %>
              </div>
                <!-- sucess and failure message -->
                                <div class="card-block">
                                    <div class="card-body">
                                        <form id="drinktype" method="post" action="/admin/drinkCategorie/save"enctype="multipart/form-data">
                                            <fieldset class="form-group">



                                                <div class="col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="type">Drink Category</label>
                                                        <input type="text" class="form-control" id="type" name="type"
                                                            pattern="\S(.*\S)?" placeholder="Category Name" />
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="description">Description</label>
                                                        <input type="textarea" class="form-control" id="description"
                                                            name="description" pattern="\S(.*\S)?"
                                                            placeholder="Description" />
                                                    </div>
                                                </div>

                                                <div class="col-xl-6 ">
                                                    <div class="form-group">
                                                      <label for="image">Image</label>
                                                      <div class="custom-file">
                                                        <div class="input-group">
                                                          <input type="file" id="image" name="image" class="custom-file-input"
                                                            accept="image/png,image/jpeg">
                                                          <label class=" custom-file-label" for="image">Choose Image</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!--footer-->
    <%- include('../_partials/footer.ejs'); %>
    <!--footer-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript">
    </script>
    <!-- END PAGE LEVEL JS-->

    <!-- jquery-validation -->
    <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>

    <script>
          var message = $('.message')
    if(message.length){
      setTimeout(function(){
        message.fadeOut('slow')
      },2500)
    }
        $(function () {
            $('#drinktype').validate({
                rules: {
                    type: {
                        required: true
                    },
                    description: {
                        required: false,
                    },
                },
                messages: {

                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
</body>

</html>