<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<%- include('../_partials/header.ejs'); %>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
    data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
    <!--nav bar-->
    <%- include('../_partials/navbar.ejs'); %>
    <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <!--side bar-->
    <%- include('../_partials/sidebar.ejs'); %>
    <!--side bar-->

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">Drink Sub-Category</h3>
                </div>
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active">Drink Sub-Category
                                </li>

                                <li class="breadcrumb-item active">Edit
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic Inputs start -->
                <section class="basic-inputs">
                    <div class="row match-height">
                        <div class="col-xl-12 col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <link rel="stylesheet"
                                        href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
                                    <link rel="stylesheet"
                                        href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
                                    <h4 class="card-title">Edit Drink Sub-Category</h4>
                                </div>
                                <div class="card-block">
                                    <div class="card-body">
                                        <form id="editsubcategory" method="post" action="/admin/drinkSubCategorie/update/<%= editsubcategory.id %> "enctype="multipart/form-data">
                                            <fieldset class="form-group">
                                               
                                                <div class='row'>
                                                    <div class="col-xl-6 ">
                                                        <div class="form-group">
                                                          <label for="types"> Drink Categorie</label>
                                                          <select name="types" class="form-control"  id="types">
                                                          
                                                            <% drinkCategorie.forEach((category)=>{ %>
                                                                <option  <%=(category.id ==editsubcategory.typeId)?'selected':''%> value="<%=category.id%>">
                                                                  <%=category.name%>
                                                                </option>
                                                                <%})%>
                                                                </option>
                                                              </select>
                                                          </select>
                                                        </div>
                                                      </div>
                                                  <div class="col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="name">Drink Sub-Category</label>
                                                        <input type="text" class="form-control" id="name" name="name"
                                                        value="<%= editsubcategory.name%>"
                                                            pattern="\S(.*\S)?" placeholder="SubCategory Name" />
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>     

                                                    <div class='row'>
                                                <div class="col-xl-6 ">
                                                    <div class="form-group">
                                                        <label for="description">Description</label>
                                                        <input type="textarea" class="form-control" id="description"
                                                            name="description" value="<%= editsubcategory.description%>" pattern="\S(.*\S)?"
                                                            placeholder="Description" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='row'>

                                                <div class="col-xl-6 ">
                                                    <div class="form-group">
                                                      <label >Image</label>
                                                      <div class="custom-file">
                                                        <div class="input-group">
                                                          <input type="file" id="image" name="image"
                                                            accept="image/png,image/jpeg" class="custom-file-input">
                                                          <label class=" custom-file-label" for="image"><%= editsubcategory.image%></label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-xl-6 ">
                                                    <div class="form-group">
                                                      <img id="imgs" src="<%=editsubcategory.image%>"
                                                        style="height:100px;width:100px; margin-left: 10px;" alt="My_Logo">
                                                    </div>
                                                </div>
                                                </div>
                                                
                                            
                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                  <INPUT TYPE="button" class="btn btn-primary" VALUE="Cancle" onClick="history.go(-1);">
                                                  
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!--footer-->
    <%- include('../_partials/footer.ejs'); %>
    <!--footer-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript">
    </script>
    <!-- END PAGE LEVEL JS-->

    <!-- jquery-validation -->
    <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>

    <script>
          image.onchange = evt => {
  const [file] = image.files
  if (file) {
    imgs.src = URL.createObjectURL(file)
  }
}
        $(function () {
            $('#editsubcategory').validate({
                rules: {
                    types: {
                        required: true
                    },
                    name: {
                        required: true
                    },
                    description: {
                        required: false,
                    },
                    
               
                },
                messages: {

                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
</body>

</html>