<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">


<%- include('../_partials/header.ejs'); %>
<!-- DataTables -->
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
  href="<%= process.env.BASE_URL %>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />




<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

  <!-- fixed-top-->
  <!--nav bar-->
  <%- include('../_partials/navbar.ejs'); %>
  <!--nav bar-->
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!--side bar-->
  <%- include('../_partials/sidebar.ejs'); %>
  <!--side bar-->
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Drink Sub-Categories</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Drink Sub-Categories
                </li>
                <li class="breadcrumb-item active">List
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic Tables start -->
        <!-- Striped rows start -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Drink Sub-Categories Detail</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                  </ul>
                </div>
              </div>
              <div>
                <!-- sucess and failure message -->
                <div class="message">
                  <% if(failure.length){ %>
                  <div class="alert alert-danger">
                    <strong><%= failure[0] %></strong>
                  </div>
                  <% } %>
                  <% if(success.length){ %>
                  <div class="alert alert-success" id="success-alert">
                    <strong><%= success %></strong>
                  </div>
                  <% } %>
                </div>
                <!-- sucess and failure message -->
                <a href="/admin/drinkSubCategorie/add">
                  <button type="button" class="btn btn-info btn-min-width mr-1 ">
                    Add New Drink Sub-Category</button>
                </a>
              </div>
              <div class="card-content collapse show">
                <!--table-->
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="drinkslist" class="display table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th scope="col">image</th>
                          <th scope="col">Drink Category</th>
                          <th scope="col">Name</th>
                          <th scope="col">Description</th>
                          <th>Action</th>

                        </tr>
                      </thead>
                      <tbody>


                      </tbody>

                      <tfoot>
                        <tr>
                          <th scope="col">image</th>
                          <th scope="col">Drink Category</th>
                          <th scope="col">Name</th>
                          <th scope="col">Description</th>
                          <th>Action</th>


                        </tr>
                      </tfoot>
                    </table>
                    <!--table-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Striped rows end -->



      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!--footer-->
  <%- include('../_partials/footer.ejs'); %>
  <!--footer-->
  <!-- jQuery -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="<%= process.env.BASE_URL %>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="<%= process.env.BASE_URL %>/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jszip/jszip.min.js"></script>
  <!-- <script src="<%= process.env.BASE_URL %>/plugins/pdfmake/pdfmake.min.js"></script> -->
  <!-- <script src="<%= process.env.BASE_URL %>/plugins/pdfmake/vfs_fonts.js"></script> -->
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- fancybox -->
  <script type="module">
    import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
  </script>
  <script>
    var message = $('.message')
    if (message.length) {
      setTimeout(function () {
        message.fadeOut('slow')
      }, 2500)
    }

    function confirm(event) {
      event.preventDefault();
      var uriToRedirect = event.currentTarget.getAttribute('href')

      return swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this record!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({
              url: uriToRedirect,
              type: "get",
              success: function (value) {
                if (value.success) {
                  $("#drinkslist").DataTable().ajax.reload()
                }
              }
            })
            swal("Poof! Your  record has been deleted!", {
              icon: "success",
            });

          } else {
            swal("Your file is record!");
          }
        });

    }


    $(document).ready(function () {
      var listing = $("#drinkslist").DataTable({
        "serverSide": true,
        "processing": true,
        "ajax": {
          "url": "/admin/drinkSubCategorie/listing",
          "type": "get",

        },
        "columns": [{
            data: "ID",
            render: function (data, type, row) {
              var buttons =
                `<a class="fancybox"data-src="${row.image}"
                data-fancybox="single" style="width:350px; height:350px;">  
                <img src ="${row.image}" class="image" alt="My_Logo"
                 style="width:50px; height:50px"/></a>`
              return buttons
            }
          },
          {
            "data": 'categories.name'
          },
          {
            "data": 'name'
          },
          {
            "data": 'description'
          },



          {
            data: "ID",
            render: function (data, type, row) {
              var buttons = `  <a href='/admin/drinkSubCategorie/delete/${row.id}'
                               onclick="return confirm(event)">
                           <i class="la la-trash "></i></div></a>`;

              buttons += '&nbsp'
              buttons += `<a href="/admin/drinkSubCategorie/edit/${row.id}"><i class="la la-edit "></i></a>`
              return buttons
            }
          },
        ],

        success: function (res) {

          console.log("--ab", res)
        }
      });

    });
    $(document).ready(function () {
  $('.fancybox').fancybox();
    });
  </script>

</body>

</html>