<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<%- include('../_partials/header.ejs'); %>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

  <!-- fixed-top-->
  <!--nav bar-->
  <%- include('../_partials/navbar.ejs'); %>
  <!--nav bar-->

  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!--side bar-->
  <%- include('../_partials/sidebar.ejs'); %>
  <!--side bar-->


  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Edit User Details</h3>
        </div>
     


        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">User List
                </li>

                <li class="breadcrumb-item active">Update
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic Inputs start -->
        <section class="basic-inputs">
          <div class="row match-height">
            <div class="col-xl-12 col-lg-6 col-md-12">
              <div class="card">
               
                <div class="card-header">
                  <h4 class="card-title">Edit User Details</h4>
                </div>


                                   <!-- sucess and failure message -->
              <div class="message">
                <% if(failure.length){ %>
                <div class="alert alert-danger">
                  <strong><%= failure[0] %></strong>
                </div>
                <% } %>
                <% if(success.length){ %>
                <div class="alert alert-success" id = "success-alert">
                  <strong><%= success %></strong>
                </div>
                <% } %>
              </div>

                <!-- sucess and failure message -->
                <div class="card-block">
                  <div class="card-body">
                    <form id="user" method="post" action="/admin/userlist/update/<%= user.id %>">
                      <fieldset class="form-group">
                        <div class="row">
                          
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" name="name" pattern="\S(.*\S)?"
                                value="<%= user.name %>">
                            </div>
                          </div>
                            
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="userName">User Name</label>
                              <input type="text" class="form-control" id="userName" name="username" pattern="\S(.*\S)?"
                                value="<%= user.username %>">
                            </div>
                          </div>
                        
                          </div>

                            <div class=row>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="userEmail">Email</label>
                              <input type="email" class="form-control" id="userEmail" name="email"
                                value="<%= user.email %>" disabled />
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="gender">Gender</label>
                              <select name="gender" class="form-control custom-select" id="gender">
                                <% if (user.gender == "male"){%>
                                  <option value="male" selected>Male</option>
                                  <option value="female">Female</option>
                                  <%} else{%>
                                  <option value="male">Male</option>
                                  <option value="female" selected>Female</option>
  
                                  <% } %>
                              </select>
                            </div>
                          </div>
                        </div>


                        <div class=row>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="dob">D.O.B</label>
                              <input type="date" class="form-control" id="dob" name="date_of_birth" min="1950-01-01"
                                value="<%= user.date_of_birth %>"/>
                            </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="facebook">Facebook</label>
                              <input type="text" class="form-control" id="facebook" name="facebookId"
                                value="<%= user.facebookId %>"/>
                            </div>
                          </div>
                        </div>
                          <div class="row">
                            <div class="col-xl-6 ">
                              <div class="form-group">
                                <label for="role">Role</label>
                                <input type="text" class="form-control" id="role" name="role" value="<%= user.role %>"
                                  disabled />
                              </div>
                            </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="city">City</label>
                              <input type="text" class="form-control" id="city" name="city" pattern="\S(.*\S)?"
                                value="<%= user.city %>" />
                            </div>
                          </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-xl-6 ">
                              <div class="form-group">
                                <label for="latitude">Latitude</label>
                                <input type="number" class="form-control" id="latitude" name="lat" value="<%= user.lat %>"
                                   />
                              </div>
                            </div>
                            <div class="col-xl-6 ">
                              <div class="form-group">
                                <label for="longitude">Longitude</label>
                                <input type="number" class="form-control" id="longitude" name="long" value="<%= user.long %>"
                                   />
                              </div>
                            </div>
                          </div>
                          
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                              <label for="description">Description</label>
                              <input type="text" class="form-control" id="description" name="description"
                                pattern="\S(.*\S)?" value="<%= user.description %>">
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                          <div class="form-group">
                            <label for="verified">Is-Verified</label>
                            <input type="text" class="form-control" id="verified" name="verified"
                              pattern="\S(.*\S)?" value="<%= user.isVerified %>"disabled>
                          </div>
                      </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="profile_img">profile_img</label>
                                      <div class="custom-file">
                                        <div class="input-group">
                                          <input type="file" id="profile_img" name="profile_img" value="<%= user.profile_img %>"
                                          accept="image/png,image/jpeg" class="custom-file-input">
                                          <label class=" custom-file-label" for="profile_img"><%= user.profile_img%></label>
                                      </div>
                                    </div>
                              </div>
                          </div>
                            <div class="form-group">
                              <img id="imgs" src="/images/userProfile/<%=user.profile_img%>"
                                style="height:100px;width:100px; margin-left: 20px;" alt="My_Logo"><a href=""></a>
    
                            </div>
                          
                          </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <INPUT TYPE="button" class="btn btn-primary" VALUE="Cancle" onClick="window.location = document.referrer">

                        </div>
                      </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <!--footer-->
  <%- include('../_partials/footer.ejs'); %>
  <!--footer-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript">
  </script>
  <!-- END PAGE LEVEL JS-->
  <!-- jquery-validation -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>
  <script>
    
     profile_img.onchange = evt => {
  const [file] = profile_img.files
  if (file) {
    imgs.src = URL.createObjectURL(file)
  }
}

    var message = $('.message')
    if(message.length){
      setTimeout(function(){
        message.fadeOut('slow')
      },2500)
    }
    $(function () {
      $('#user').validate({
        rules: {
          name: {
            required: true,
            // normalizer: function (value) {
            //         //Trim the value of element for whitespaces
            //         return $.trim(value);
            //      }
          
          },
          dob:{
            required: true,
            date: true,
            max:"2021-01-01"


          },
          gender: {
            required: true,
          },
          city: {
            required: false,
          },
          lat:{
            required: true,
          },
          long:{
            required: true,
          },
          description: {
            required: false,
          },


        },
        messages: {
          dob:{
            max:"Invalid date"
          }

        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
  </script>

</body>

</html>