<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">


<%- include('../_partials/header.ejs'); %>
<!-- DataTables -->
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
  href="<%= process.env.BASE_URL %>/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<style>
  body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
  }

  .main-body {
    padding: 15px;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }

  .gutters-sm>.col,
  .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }

  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }

  .h-100 {
    height: 100% !important;
  }

  .shadow-none {
    box-shadow: none !important;
  }
</style>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns" style="margin-top: 0px;">

  <!-- fixed-top-->
  <!--nav bar-->
  <%- include('../_partials/navbar.ejs'); %>
  <!--nav bar-->

  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!--side bar-->
  <%- include('../_partials/sidebar.ejs'); %>
  <!--side bar-->

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">User Detail</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">User
                </li>
                <li class="breadcrumb-item active">Detail
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="content-body">
        <!-- Basic Tables start -->



        <!-- Striped rows start -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <img src="https://img.icons8.com/ios/50/0000/long-arrow-left.png"
              style="width: 50px; height: 35px; color: #272524; margin-left: 15px;" onClick="window.location = document.referrer"/>
              <div class="card-header">
                <h4 class="card-title"><%=user.name%></h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <!--table-->

                <div class="card-body">

                  <div class="container">
                    <div class="main-body">

                      <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex flex-column align-items-center text-center">
                                <img type="file"id= "imgs" src="/images/userProfile/<%=user.profile_img%>" alt="User-picture"
                                  class="rounded-circle" width="150">
                                <div class="mt-3">
                                  <h4><%=user.name%></h4>
                                  <p class="text-secondary mb-1"><%=user.description%></p>
                                  <p class="text-muted font-size-sm"><%=user.city%></p>

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card mt-3">
                            <ul class="list-group list-group-flush" style="display: flex; justify-content: center;">
                              <li class="list-group-item d-flex justify-content-between" style="align-items: center;">
                                <div style="display: flex; align-items: center;">
                                  <i class="la la-envelope" style=" font-size: 30px; color:red"></i>
                                  <p class="mb-0" style="margin-left: 20px;"> Email</p>
                                </div>
                                <span class="text-secondary"><%=user.email%></span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center "
                                style="border-bottom: 1px solid gray;">
                                <div style="display: flex; align-items: center;">
                                  <i class="la la-facebook" style=" font-size: 30px; color:blue"></i>
                                  <p class="mb-0" style="margin-left: 20px;"> Facebook</p>
                                </div>
                                <span class="text-secondary"><%=user.facebookId%></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="card mb-3">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0"> Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%=user.name%>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%=user.email%>
                                </div>
                              </div>

                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Gender</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%=user.gender%>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">DOB</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%=user.date_of_birth%>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">City</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%=user.city%>

                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0"> User Name </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%=user.username%>

                                </div>
                              </div>
                              <hr>
                              <div class="row">

                              </div>
                            </div>
                          </div>

                          <div class="row gutters-sm">
                            <div class="col-sm-6 mb-3" style="line-height: 2.1;">
                              <div class="card h-100">
                                <div class="card-body">
                                  <h5 class="d-flex align-items-center mb-3" style="margin-bottom:-0.2rem!important;">
                                   <b> CreatedAt</b></h6>
                                  <label><%=user.date%></label>
                                  

                                  <div style="margin-top: 20px;">
                                    <h5 class="d-flex align-items-center mb-3" style="margin-bottom:-0.2rem!important;">
                                      <b>Verified</b></h6>
                                      <% if (user.isVerified == true){%>
                                        <i  value=1 class="fa fa-check" aria-hidden="true"  style="color:green;margin-left:26px;margin: top 3px;font-size: 21px"></i>
                                       <%} else{%>
                                      <i value="0"  class="fa fa-times" aria-hidden="true" style="color: red;margin-left: 26px;margin: top 3px;font-size: 21px"></i>
                                      <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6 mb-3" style="line-height: 2.1;">
                              <div class="card h-100">
                                <div class="card-body">
                                  <h5 class="d-flex align-items-center mb-3" style="margin-bottom:-0.2rem!important;">
                                    <b>Latitude</b></h6>
                                  <label> <%=user.lat%></label>
                                  

                                  <div style="margin-top: 20px;">
                                    <h5 class="d-flex align-items-center mb-3" style="margin-bottom:-0.2rem!important;">
                                      <b>Longitude</b></h6>
                                    <label> <%=user.long%></label>
                                
                                  
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>

                    </div>
                  </div>
                  <!--table-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Striped rows end -->



    </div>
  </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!--footer-->
  <%- include('../_partials/footer.ejs'); %>
  <!--footer-->


<script>
  profile_img.onchange = evt => {
  const [file] = profile_img.files
  if (file) {
    imgs.src = URL.createObjectURL(file)
  }
}
</script>



</body>

</html>