<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <%- include('../_partials/header.ejs'); %>
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
   <!--nav bar-->
   <%- include('../_partials/navbar.ejs'); %>
   <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


   <!--side bar-->
   <%- include('../_partials/sidebar.ejs'); %>
   <!--side bar-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Email Token Update</h3>
          </div>
          <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Email Tokens
                  </li>
                  
                  <li class="breadcrumb-item active">Update
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Inputs start -->
<section class="basic-inputs">
  <div class="row match-height">
      <div class="col-xl-12 col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Email Token Update</h4>
              </div>
              <div class="card-block">
                <div class="card-body">
                      <fieldset class="form-group">
                     
                        <div class="col-xl-6 ">                      
                        <label for="emailToken">Email Token</label>
                          <input type="text" class="form-control" id="emailToken"/>
                        </div> 
                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </fieldset>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
      <!--footer-->
      <%- include('../_partials/footer.ejs'); %>
      <!--footer-->
 <!-- BEGIN PAGE LEVEL JS-->
 <script src="theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
 <!-- END PAGE LEVEL JS-->
  </body>
</html>