<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

 <!-- DataTables -->
 <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
 <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
 <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
 <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"> -->
    <%- include('../_partials/header.ejs'); %>
  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
   <!--nav bar-->
   <%- include('../_partials/navbar.ejs'); %>
   <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <!--side bar-->
  <%- include('../_partials/sidebar.ejs'); %>
  <!--side bar-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Email Tokens</h3>
          </div>
          <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Email Tokens
                  </li>
                  <li class="breadcrumb-item active">List
                </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Tables start -->


<!-- Striped rows start -->
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Email Tokens Deatail</h4>
				<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">
						<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
						<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
						<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						<li><a data-action="close"><i class="ft-x"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="card-content collapse show">
                <!--table-->

				<div class="card-body">
				
				<div class="table-responsive">
					<table id="emailToken"class="table table-bordered table-striped">
						<thead>
							<tr>
								
								<th scope="col">Email Token</th>
								<th scope="col">Action</th>
								
							</tr>
						</thead>
						<tbody>
              <tr>
								<td>iufhshkhdkf</td>
								<td><a href="/admin/emailtoken/edit"><i class="la la trash-o">edit</i></a>
                        <a href="#"><i class="">delete</i></a></td>
								</tr>
              </tbody>

              <tfoot>
                <tr>
								
                  <th scope="col">Email Token</th>
                  <th scope="col">Action</th>
                  
                </tr>
                </tfoot>
								</table>

                  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Striped rows end -->



        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


     <!--footer-->
     <%- include('../_partials/footer.ejs'); %>
     <!--footer-->

       <!-- DataTables  & Plugins -->
  <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../plugins/jszip/jszip.min.js"></script>
  <!-- <script src="../plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../plugins/pdfmake/vfs_fonts.js"></script> -->
  <script src="../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

   <script>
  $(document).ready(function () {
    $('#emailToken').DataTable({
      "paging": true,
      "processing": true,
      "serverSide": true,
      "ordering": false,
      "ajax": {
        "url": "#",
        "type": "get",
      },
      "columns": [
        { "data": "" },
    
        {
          data: "ID",
          render: function (data, type, row) {
            console.log(`${row._id}`)
            var buttons = `  <a href="#${row._id}"
                          onclick="return confirm('Are you sure you want to delete this.')">
                          <i class="far fa-trash-alt"></i></a>`;
                    
                          buttons += '&nbsp'
            buttons += `<a href="#${row._id}"><i class="fas fa-pencil-alt"></i></a>`
            return buttons
          }
        },
      ],
      success: function (done) {
        console.log("--ab", done)
      }
    });
  });
</script> 

  
 </body>
</html>