<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <%- include('../_partials/header.ejs'); %>

  <!-- daterange picker -->
  <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/daterangepicker/daterangepicker.css">
   
  <!-- Include Date Range Picker -->
  <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" /> -->

  <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
   <!--nav bar-->
   <%- include('../_partials/navbar.ejs'); %>
   <!--nav bar-->

    <!-- ////////////////////////////////////////////////////////////////////////////-->


   <!--side bar-->
   <%- include('../_partials/sidebar.ejs'); %>
   <!--side bar-->

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
          <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Event</h3>
          </div>
          <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active">Event
                  </li>
                  
                  <li class="breadcrumb-item active">Add Event
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body"><!-- Basic Inputs start -->
 <section class="basic-inputs">
  <div class="row match-height">
      <div class="col-xl-12 col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Add New Event</h4>
              </div>
              <div class="card-block">
                <div class="card-body">
                  <form id="event" method="post" action="/admin/event/save"enctype="multipart/form-data"  >
                    <fieldset class="form-group">
                      <div class="row">
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="name">Event Name</label>
                                  <input type="text" class="form-control" id="name"
                                  name="name" placeholder="Event Name" pattern="\S(.*\S)?"/>
                              </div>
                          </div>
                          <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="restaurant"> Restaurant</label>
                                <select name="restaurant" class="form-control" id="restaurant">
                                  <option selected="" disabled>Select Restaurant  </option>
                                  <% restaurantInfo.forEach((restaurant)=>{ %>
                                      <option value="<%=restaurant.id%>">
                                        <%=restaurant.name%>
                                      </option>
                                      <%})%>
                                    </select>
                            </div>
                        </div>
                        
                          
                      </div>

                      <div class="row">

                        <div class="col-xl-6 ">
                          <div class="form-group">
                              <label for="address">Address</label>
                              <input type="text" class="form-control" id="address"
                                  name="address" placeholder="Address" pattern="\S(.*\S)?"/>
                          </div>
                      </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="country">Country</label>
                                  <input type="text" class="form-control" id="country"
                                      name="country" placeholder="Country" pattern="\S(.*\S)?"/>
                              </div>
                          </div>


                        
                      </div>

                      <div class="row">
                        <div class="col-xl-6 ">
                          <div class="form-group">
                              <label for="city">City</label>
                              <input type="text" class="form-control" id="city"
                                  name="city"placeholder="City" pattern="\S(.*\S)?"/>
                          </div>
                      </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="latitude">Latitude</label>
                                  <input type="number" class="form-control" id="latitude"
                                      name="latitude" placeholder="Latitude"/>
                              </div>
                          </div>
                        
                      </div>
                      <div class="row">
                        <div class="col-xl-6 ">
                          <div class="form-group">
                              <label for="longitude">Longitude</label>
                              <input type="number" class="form-control" id="longitude"
                                  name="longitude" placeholder="Longitude"/>
                          </div>
                      </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="picture">Picture</label>
                                      <div class="custom-file">
                                        <div class="input-group">
                                          <input type="file" id="picture" name="picture" 
                                          accept="image/png,image/jpeg" class="custom-file-input">
                                          <label class=" custom-file-label" for="picture">Choose File</label>
                                      </div>
                                    </div>
                              </div>
                          </div>
                          
                       
                        </div>
                    
                       
                         
                        <div class="row">
                          <div class="col-xl-6 ">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description"
                                    name="description"placeholder="Description" pattern="\S(.*\S)?"/>
                            </div>
                        </div>
                          <div class="col-xl-6 ">
                              <div class="form-group">
                                  <label for="daterange">Date Time Range</label>
                                  <input type="text" id="daterange" name="daterange"class="form-control"
                                  min="2018-04-01"  required/>
                                 
                                  
                                
                              </div>
                          </div>
                        </div>
                        

                          <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                    </form>
                          </div>
                    </div>
              </div>
          </div>
     
       </div>
    </section>
  </div>


        </div>
      </div>
    
    <!-- ////////////////////////////////////////////////////////////////////////////-->
      <!--footer-->
      <%- include('../_partials/footer.ejs'); %>
      <!--footer-->
 <!-- BEGIN PAGE LEVEL JS-->
 <script src="<%= process.env.BASE_URL %>/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>
 <!-- END PAGE LEVEL JS-->
  <!-- jquery-validation -->
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>


<script>
 

 $(function () {
$('#event').validate({
   rules: {
      name: {
         required: true
      },
      restaurant: {
        required: true,
      },
      country: {
         required: true,
      },
      city: {
         required: true,
      },
      address: {
         required: true,
      },
      picture: {
         required: true,
      },
       description : {
         required: false,
      },
      daterange:{
        required:true,
      },
      latitude:{
        required:true,
      },
      longitude:{
        required:true,
      }
            },
            messages: {
               
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
               error.addClass('invalid-feedback');
               element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
               $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
               $(element).removeClass('is-invalid');
            }
         });
      });

      $(function() {
    $('input[name="daterange"]').daterangepicker({
        timePicker: true,
        timePickerIncrement: 1,
        // singleDatePicker: true,
       
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        }
    });

});
 </script>
  </body>
</html>